{% extends '::backend.html.twig' %}
{% block title %}{{title|trans}}{% endblock %}
{% block content %}
<div class="content box grid_12 round_all">
    <h1>{{ title|trans }}</h1>
    <table class="display datatable">
        <thead>
            <tr>
                <th class="nowrap center" colspan="2">{{ "Código"|trans }}</th>
                <th class="nowrap center">{{ "Usuário"|trans }}</th>
                <th class="nowrap center">{{ "Oferta"|trans }}</th>
                <th class="center">{{ "Qtd."|trans }}</th>
                <th class="nowrap center">{{ "Data"|trans }}</th>
                <th class="nowrap center">{{ "Total"|trans }}</th>
                <th class="nowrap center">{{ "Status"|trans }}</th>
                <th class="last nowrap center">{{ "Ações"|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for order in order %}
            <tr>
                <td>
                    {{ order.id }}
                </td>
                <td>
                    <img src='{{ order.deal.source.thumb }}' width='80' height='60' alt="{{ order.deal.source.title }}"/>
                </td>
                <td>
                    {{ order.user.name }}
                </td>
                <td style="width:200px;">
                    {{ order.deal.label(80) }}
                </td>
                <td style="width:10px;">
                    {{ order.quantity }}
                </td>
                <td>
                    {{ order.created.timestamp|date("d/m/Y") }}
                </td>
                <td class="nowrap">
                    {{ order.total|money }}
                </td>
                <td>
                    <span class="{{ order.getStatusName|lower }}">{{ order.getStatusName }}</span>
                </td>
                <td>
                    <a class="button small white" href="{{ path('admin_order_order_view', {'id': order.getId}) }}" title="Visualizar Pedido"><span class="ui-silk ui-silk ui-silk-page-white-magnify">{{"Visualizar"|trans}}</span></a>
                </td>
            </tr>
        {% else %}
            <tr><td colspan="9">{{ "Nenhuma venda encontrada"|trans }}</td></tr>
        {% endfor %}
        </tbody>
    </table>
    <div class='clear'></div>
</div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('themes/'~mastop_theme_name()~'/admin/js/DataTables/jquery.dataTables.js') }}"></script>
    <script type="text/javascript" src="{{ asset('themes/'~mastop_theme_name()~'/admin/js/adminica/adminica_datatables.js') }}"></script>
{% endblock %}