<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt_BR" lang="pt_BR">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta http-equiv="content-language" content="{% block contentLanguage %}pt_BR{% endblock %}" />
<meta name="robots" content="index,follow" />
<meta name="keywords" content="{% block metaKeywords %}praticus{% endblock %}" />
<meta name="description" content="{% block metaDescription %}Praticus é o melhor sistema de loas virtuais do Brasil{% endblock %}" />
<meta name="rating" content="general" />
<meta name="author" content="Mastop Internet Development" />
<meta name="copyright" content="Copyright © 2003-{{ "now"|date('Y') }}" />
<meta name="generator" content="Mastop Internet Development" />
<link href="{% block favicon %}favicon.ico{% endblock %}" rel="SHORTCUT ICON" />

<title>{% block title %}Página sem Título{% endblock %} - Praticus</title>
                
{% stylesheets 'mastop/Frontend/css/*.css' filter='yui_css' output='themes/mastop/css/pack.css' %}
<link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
{% endstylesheets %}
{% block stylesheets %}{% endblock %}
<!-- Load JQuery -->		
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
{% block javascriptsHead %}{% endblock %}
</head>
<body>
{# Main #}
<div id="main">
    
{# Mensagens do Sistema #}
{% if app.session.hasFlash('error') %}
<div class="alert alert_red">
    <img height="24" width="24" src="admin/images/icons/small/white/Alert.png" />
    <strong>Erro: </strong> {{ app.session.flash('error')|raw }}
</div>
{% endif %}
{% if app.session.hasFlash('ok') %}
<div class="alert alert_green">
    <img height="24" width="24" src="admin/images/icons/small/white/Finish%20Flag.png" />
    {{ app.session.flash('ok')|raw }}
</div>
{% endif %}
{% if app.session.hasFlash('notice') %}
<div class="alert alert_grey">
    <img height="24" width="24" src="admin/images/icons/small/white/Speech%20Bubble%202.png" />
    <strong>Aviso: </strong> {{ app.session.flash('notice')|raw }}
</div>
{% endif %}
{# /Mensagens do Sistema #}

{# Header #}
<div id="hd_wrap">
    <div id="hd" class="container_12">
    {% block header %}
        <div class="grid_5">
            <div id="logo">
                <a href="{{ path('_home') }}">
                {% image 'mastop/Frontend/images/logo.gif' %}
                <img src="{{ asset_url }}" alt="The alt text" />
                {% endimage %}
                </a>
            </div>
            <div id="slogan">
                {# @TODO: Parametrizar #}
                Internet Development
            </div>
            
        </div>

    
    {# @TODO: Substituir pelo MenuBundle #}
        <div class="grid_7">
            <div id="navbar">
                  <ul id="nav">
                    <li>
                      <a href="/">home</a>
                    </li>
                    <li>
                      <a href="{{ path('_teste') }}">teste</a>
                    </li>
                    <li>
                      <a href="{{ path('_teste_admin') }}">admin</a>
                    </li>
                    <li>
                      <a href="#">novo teste</a>
                    </li>
                    <li>
                      <a href="#">contato</a>
                    </li>
                  </ul>
            </div>
            <div class="clear">&nbsp;</div>
        </div>
    {% endblock%}
    </div>
</div>
{# /Header #}

{# Body #}
{% block body %}
<div id="bd_wrap">
    <div id="bd" class="container_12">

    {# Conteúdo #}
    {% block content %}
    {% endblock content %}
    {# /Conteúdo #}
        
    </div>
</div>
{% endblock body %}
{# /Body #}

{# Footer #}
<div id="ft_wrap">
    <div id="ft" class="container_12">{% block footer %}<span id="copyright">© 2011 Mastop Internet Development</span>{% endblock%}</div>
</div>
{# /Footer #}
</div>
{#/Main #}
{# Javascripts #}
{% block javascripts %}{% endblock %}
{#/Javascripts #}
</body>
</html>