    <table class="static"> 
        <thead> 
            <tr> 
                <th colspan="2">{{ "Descrição"|trans }}</th> 
                <th>{{ "Validade"|trans }}</th> 
                <th>{{ "Preço"|trans }}</th> 
                <th class="aC">{{ "Quantidade"|trans }}</th> 
                <th>{{ "Publicação"|trans }}</th> 
                <th class="last aC">{{ "Ações"|trans }}</th> 
            </tr> 
        </thead> 
{% for deal in deal %}
    {%set dealLink = path('deal_deal_show', {'city': deal.getSource.getCity.getSlug, 'category': deal.getSource.getCategory.getSlug, 'slug': deal.getSlug}) %}
        <tr>
            <td>
                <a href="{{dealLink}}" title="Compre {{deal.getLabel}}"><img src='{{ mastop_param('deal.all.dealurl') ~ deal.source.thumb }}' width='80' height='60' alt="{{ deal.source.getTitle(50) }}"/></a>
            </td>
            <td style="width: 315px;">
                <a href="{{dealLink}}" title="Compre {{deal.getLabel}}">{{ deal.source.getTitle(80) }}</a>
            </td>
            <td>
                {{ deal.source.getExpiresAt().getTimestamp()|date("d/m/Y")  }}
            </td>
            <td class="aC">
                {{ deal.getPrice()|money  }}
            </td>
            <td class="aC">
                {{ deal.getQuantity() }}
            </td>
            <td>
                {{ deal.getCreatedAt().getTimestamp()|date("d/m/Y")  }}
            </td>
            {% set vouchers = 0 %}
            {% for vou in deal.voucher %}
                {% if vou.order %}
                    {% if vou.order.status.id == 2 %}
                        {% set vouchers = 1 %}
                    {% endif %}
                {% endif %}
            {% endfor %}
            <td class="aC" nowrap="nowrap">
                {% if deal.checked == false %}
                    <strong style="color:red">Aguardando Aprovação</strong>
                {% elseif "now"|date('Y-m-d') < deal.source.expiresAt|date('Y-m-d') %}
                    {% if vouchers == 0 %}
                        <a class="button small white" href="{{ path('deal_deal_edit', {'id': deal.getId()}) }}">{{"Editar"|trans}}</a>
                        {% if deal.quantity > 0 %}
                            {% if deal.getActive() %}
                                <a class="button small danger" href="{{ path('deal_deal_active', {'id': deal.getId()}) }}">{{"Desativar"|trans}}</a>
                            {% else %}
                                <a class="button small white" href="{{ path('deal_deal_active', {'id': deal.getId(), 'active': true}) }}">{{"Ativar"|trans}}</a>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <a class="button small white voucher" href="#">{{"Editar"|trans}}</a>
                    {% endif %}
                {% else %}
                            <strong style="color:red">Oferta Vencida</strong>
                {% endif %}
            </td>
        </tr>
  {% else %}
        <tr><td colspan="4">{{"Nenhuma oferta encontrada"|trans}}</td></tr>
{% endfor %} 
    </table>
    <div class='clear'></div>