    <table class="static"> 
        <thead> 
            <tr> 
                <th colspan="2">{{ "Descrição"|trans }}</th> 
                <th>{{ "Validade"|trans }}</th> 
                <th>{{ "Preço"|trans }}</th> 
                <th class="center">{{ "Quantidade"|trans }}</th> 
                <th>{{ "Publicação"|trans }}</th> 
                <th class="last center">{{ "Ações"|trans }}</th> 
            </tr> 
        </thead> 
{% for deal in deal %}
        <tr>
            <td>
                <img src='{{ mastop_param('deal.all.dealurl') ~ deal.source.thumb }}' width='80' height='60' alt="{{ deal.source.getTitle(50) }}"/>
            </td>
            <td style="width: 315px;">
                {{ deal.source.getTitle(80) }}
            </td>
            <td>
                {{ deal.source.getExpiresAt().getTimestamp()|date("d/m/Y")  }}
            </td>
            <td>
                {{ deal.getPrice()|money  }}
            </td>
            <td class="center">
                {{ deal.getQuantity() }}
            </td>
            <td>
                {{ deal.getCreatedAt().getTimestamp()|date("d/m/Y")  }}
            </td>
            <td class="center" nowrap="nowrap">
                <a class="button small white" href="{{ path('deal_deal_edit', {'id': deal.getId()}) }}">{{"Editar"|trans}}</a>
                
                {% if deal.quantity > 0 %}
                    {% if deal.getActive() %}
                        <a class="button small danger" href="{{ path('deal_deal_active', {'id': deal.getId()}) }}">{{"Desativar"|trans}}</a>
                    {% else %}
                        <a class="button small white" href="{{ path('deal_deal_active', {'id': deal.getId(), 'active': true}) }}">{{"Ativar"|trans}}</a>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
  {% else %}
        <tr><td colspan="4">{{"Nenhuma oferta encontrada"|trans}}</td></tr>
{% endfor %} 
    </table>
    <div class='clear'></div>