{% extends '::frontend.html.twig' %}

{% block stylesheets %}
    {% stylesheets '@ReurbanoCoreBundle/Resources/views/themes/reurbano/Frontend/css/bundles/order/*' filter='?yui_css' output='static/system/css/myorder.css' %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
<h1 id="myOrderTitle">{{title}}</h1>
<div id="myOrder">
    <div class="orderInfo">
        <div class="dealThumb">
            <img src="{{asset(mastop_param('deal.all.dealurl') ~ order.deal.source.thumb)}}" alt="{{order.deal.label}}" />
            <span class="discount {{order.deal.discountType }}">Cód. {{order.id}}</span>
        </div>
        <div class="orderLabel">
            <p>{{ order.deal.label }}</p>
            <p class="orderStatus {{ order.getStatusName|lower }}">Status: {{ order.getStatusName }}</p>
        </div>
    </div>
    <div class="orderDetails">
        <h4>Informações da Venda</h4>
        <p>Data da venda: <strong>{{ order.created.timestamp|date("d/m/Y H:i") }}</strong></p>
        <p>Quantidade de Cupons: <strong>{{ order.quantity }}</strong></p>
        <p>Total: <strong>{{ order.getTotal(true)|money}}</strong></p>
        <h4>Informações da Operadora de Pagamento</h4>
        {%for pay in payment.renderInfo()%}
        <p>{{pay|raw}}</p>
        {%else%}
                <div class="info">Esta venda ainda não foi paga.</div>
        {%endfor%}
    </div>
    <div class="clear"></div>
    <div class="orderComments m10">
        <h4>Comentários</h4>
        <div class="orderCommentsDiv">
          {%for comment in order.comments|reverse%}
                <div class="orderComment {%if comment.user.id == order.user.id%}customer{%elseif comment.user.id == order.seller.id%}seller{%else%}admin{%endif%}"><strong>{%if comment.user.id == order.user.id%}Comprador{%elseif comment.user.id == order.seller.id%}Vendedor{%else%}{{mastop_param('system.site.name')}}{%endif%}</strong> em <em>{{comment.created.timestamp|date("d/m/Y H:i")}}</em><br />{{comment.message|nl2br}}</div>
          {%else%}
                <div class="info">Não há comentários nesta venda.</div>
          {%endfor%}
        </div>
        <form method="post" action="{{path('order_mysales_comment', {'id':order.id})}}">
            <textarea name="message" placeholder="Deixe um comentário nesta venda"></textarea><button type="submit" class="button primary big {{order.deal.discountType }}">OK</button>
        </form>
    </div>
    <div class="orderStatusLog m10">
        <h4>Histórico</h4>
        <div class="orderStatusLogDiv">
          {%for status in order.statusLog|reverse%}
                <div class="orderStatusLogItem {{ status.getStatusName|lower }}">{{ status.getStatusName }} em <em>{{ status.created.timestamp|date("d/m/Y H:i")}}</em>{%if status.obs %}<br /><strong>Obs.:</strong>{{status.obs|nl2br}}{%endif%}</div>
          {%else%}
                <div class="info">Não há histórico nesta venda.</div>
          {%endfor%}
        </div>
    </div>
</div>
<div class="clear"></div>
<a class='button big red m10' onclick='javascript:history.go(-1)' href='javascript:void(0)'>{{"Voltar"|trans}}</a>
{% endblock %}