{% extends '::backend.html.twig' %}

{% block title %}{{title|trans}}{% endblock %}
{% set vars = banner.getId() ? {'id': banner.getId()} : {} %}

{% block stylesheets %}
    {% stylesheets '@ReurbanoCoreBundle/Resources/public/js/autocomplete/jquery.autocomplete.css' filter='?yui_css' output='static/admin/banner/autocomplete.css' %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
<div class="content box grid_12 round_all">
    <form class="block" action="{{ path('admin_core_banner_save', vars) }}" method="post" {{ form_enctype(form) }}>
        {% if control == "1" %}
            <div>
                {{ form_label(form.user)  }}
                {{ form_errors(form.user) }}
                {{ form_widget(form.user) }}
            </div>
            <h3 id="userName">&nbsp;</h3>
            <div class="hidden" id="userDeal">
                {%if id is not null%}
                    <input type="hidden" value="{{banner.deal.id}}" name="banner[deal]" />
                {%endif%}
            </div>
            {{ form_rest(form) }}
            {%if id is not null%}
                    <div class="block"><button class="button green m10" id="bannerEnviar"><span>Salvar</span></button> <a href="#" onclick="javascript:history.go(-1); return false;" class="button red">Cancelar</a></div>
            {%else%}
                    <div class="block"><button class="button green m10 hidden" id="bannerEnviar"><span>Salvar</span></button> <a href="#" onclick="javascript:history.go(-1); return false;" class="button red">Cancelar</a></div>
            {%endif%}
        {% else %}
            {{ form_widget(form) }}
            <div class="block"><button class="button green m10" id="bannerEnviar"><span>Salvar</span></button> <a href="#" onclick="javascript:history.go(-1); return false;" class="button red">Cancelar</a></div>
        {% endif %}
    </form>
</div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ url('admin_core_banner_script') }}"></script>
    {% javascripts output='static/admin/js/banner.js'
                   '@ReurbanoCoreBundle/Resources/public/js/autocomplete/jquery.autocomplete.pack.js'
                   '@ReurbanoCoreBundle/Resources/public/js/banner.js'
                   %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}