{% extends '::backend.html.twig' %}

{% block title %}{{title|trans}}{% endblock %}
{% set vars = deal.getId() ? {'id': deal.getId()} : {} %}

{% block content %}
<div class="content box grid_12 round_all">
        <div class="block">
            <h1>{{"Edição do Banco de Oferta"|trans}}</h1>
            <h2>{{deal.getTitle()}}</h2>
            <form action="{{ path('admin_deal_source_save', vars) }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}

                <button class="button_colour" type='submit'><span>{{ "Enviar"|trans }}</span></button>
            </form>
        </div>
</div>
{% endblock %}