{% extends '::backend.html.twig' %}
        
{% block title %}{{title|trans}}{% endblock %}
{% set vars = deal.getId() ? {'id': deal.getId()} : {} %}

{% block content %}
<h1>{{title|trans}}</h1>
<ul>
<div class="box">
    <div class="block">
        <form action="{{ path('admin_deal_source_save', vars) }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}

            <input type="submit" class="button_colour" value="{{"Enviar"|trans}}" />
        </form>
    </div>
</div>
{% endblock %}