{% extends '::backend.html.twig' %}
        
{% block title %}{{title|trans}}{% endblock %}


{% block content %}
<h1>{{title|trans}}</h1>
{% for deal in ofertas %}
    {{ deal.getTitle() }} - 
    {{ deal.getCity().getName() }} -
    {{ deal.getExpiresAt().getTimestamp()|date("d/m/Y") }}
    | <a href="{{ path( 'admin_deal_source_edit', {'id': deal.getId() } ) }}">Editar</a> 
    | <a href="{{ path( 'admin_deal_source_delete', {'id': deal.getId() } ) }}">Deletar</a>
    | <br />
  {% else %}
   {{"Nenhuma oferta encontrada"|trans}}
  {% endfor %} 
{% endblock %}