{% extends '::backend.html.twig' %}

{% block content %}
<div class="content box grid_12 round_all" style="padding:0">
    <table class="display datatable"> 
        <thead> 
            <tr> 
                <th calss='center'>{{ "Imagem"|trans }}</th> 
                <th>{{ "Título"|trans }}</th> 
                <th>{{ "Origem"|trans }}</th> 
                <th>{{ "Cidade"|trans }}</th> 
                <th>{{ "Categoria"|trans }}</th> 
                <th>{{ "Preço"|trans }}</th> 
                <th>{{ "Data"|trans }}</th> 
                <th class="last nowrap center">{{ "Ações"|trans }}</th> 
            </tr> 
        </thead> 
        <tbody> 
{% for deal in ofertas %}
            <tr>
                <td class='center'><img width="140" height="100" src="{{ mastop_param('deal.all.dealurl') ~ deal.thumb }}" title="{{ deal.getTitle() }}" alt="{{ deal.getTitle() }}" /></td>
                <td>{{ deal.getTitle(50) }}</td>
                <td>{{ deal.getSite().getName() }}</td>
                <td>{{ deal.getCity().getName() }}</td>
                <td>{{ deal.getCategory().getName() }}</td>
                <td>{{ deal.dateRegister|date('d/m/Y') }}</td>
                <td class='nowrap'>{{ deal.getPriceOffer()|money }}</td>
                <td class="center nowrap">
                    <a class="button button-set-start small white" href="{{ path( 'admin_deal_source_edit', {'id': deal.getId() } ) }}"><span class="ui-silk ui-silk ui-silk-pencil">{{ "Editar"|trans }}</span></a><a class="button button-set-finish small red" href="{{ path( 'admin_deal_source_delete', {'id': deal.getId() } ) }}"><span class="ui-silk ui-silk-delete">{{ "Deletar"|trans }}</span></a>
                </td>
            </tr>
  {% else %}
            <tr><td colspan='6'>{{"Nenhuma oferta encontrada"|trans}}</td></tr>
  {% endfor %} 
        </tbody> 
    </table>
    <button onclick="window.location='{{path('admin_deal_source_new')}}'" title="{{ "Inserir novo item ao banco de ofertas"|trans }}" class="button white newItem m10"><span class="ui-silk ui-silk-add"></span> {{ "Novo Banco de Ofertas"|trans }}</button>
</div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('themes/'~mastop_theme_name()~'/admin/js/DataTables/jquery.dataTables.js') }}"></script>
    <script type="text/javascript" src="{{ asset('themes/'~mastop_theme_name()~'/admin/js/adminica/adminica_datatables.js') }}"></script>
{% endblock %}