{# E-mail de cancelamento de pedido para o vendedor #}
{% extends '::mail.html.twig' %}

{% block content %}
<h1 style="margin:0;font-weight:bold;font-size:16px;color:#D87D08;">{{user.name}}, sua venda #{{order.id}} foi cancelada.</h1><br/><br/>
{% if msg %}
    <h3>O administrador enviou o seguinte comentário:</h3>
    {{msg|nl2br}} <br /><br />
{% endif %}
Caso queira comentar o cancelamento da venda, clique no link abaixo ou copie e cole em seu navegador:<br /><br />
<a href="{{orderLink}}" target="_blank">{{orderLink}}</a><br /><br /><br /><br />

<span style="margin:0;font-size:11px;">
Para comentários, sugestões ou reclamações, favor contatar-nos no seguinte endereço: <a href="mailto:{{mastop_param('system.site.adminmail')}}">{{mastop_param('system.site.adminmail')}}</a> 
</span><br/><br/>
{% endblock %}