{# E-mail de confirmação de envio de oferta #}
{% extends '::mail.html.twig' %}

{% block content %}
<h1 style="margin:0;font-weight:bold;font-size:16px;color:#D87D08;">O usuário {{user.name}} solicitou o cadastro de uma oferta!</h1><br/><br/>

<h3>Dados da Oferta:</h3>
<b>Site: </b> {{site.name}} <br /><br />
<b>Cidade: </b> {{ city.name }} <br /><br />
<b>URL: </b> {{ data.url }} <br /><br />
<b>Quantidade: </b> {{ data.quantity }} <br /><br />
<b>Valor Desejado: </b> R$ {{ data.price }} <br /><br />
<b>OBS: </b> {% if data.obs %} {{ data.obs }} {% else %} Nenhuma Observação {% endif %}<br /><br />

{% endblock %}