{# E-mail de boas vindas de novo usuário #}
{% extends '::mail.html.twig' %}

{% block content %}
    <table width="630" border="0" cellspacing="0" cellpadding="0" align="center" style="padding-left:10px; padding-right:8px; padding-top:12px;">
        <tr>
            <td height="620" align="center" valign="top" >
                <a href="{{url('_home')}}">
                    <img src="{{url~'/images/bem-vindo.jpg'}}" width="620" height="75" />
                </a>
                <div style="font-family: Verdana, Geneva, sans-serif;font-size:22px;font-weight:bold;color:#666;padding-top:5px;">
                </div>
                <div style="font-family: Verdana, Geneva, sans-serif; font-size:14px; color:#666; margin-top:-5px;"> 
                    nós queremos que sua única preocupação seja em curtir a experiência<br />
                    <br />
                </div>
            </td>
        </tr>
        <tr>
            <td align="center" valign="top" background="{{url~'/images/bg_box.jpg'}}" style="width:199px" height="205" >
                <div style=" font-family: Verdana, Geneva, sans-serif; font-size:14px;font-weight:bold;line-height:14px;color:#7b9d24;text-align:center;padding-top:12px;padding-bottom:10px;">
                    fique ligado <br/>
                    nos e-mails
                </div>
                <a href="{{url('_home')}}">
                    <img src="{{url~'/images/icon1.jpg'}}" width="150" height="80" />
                </a>
                <div style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:10px;line-height:12px;color:#666;margin-top:8px;padding-left:8px;padding-right:12px;">
                    Sempre enviamos boas ofertas 
                    e novidades através do e-mail. <br/>Fiquei atento para não na caixa de SPAM e você ficar de fora, ok?
                </div>
            </td>
            <td align="center" valign="top" background="{{url~'/images/bg_box.jpg'}}" style="width:199px" height="205" >
                <div style="font-family: Verdana, Geneva, sans-serif;font-size:14px;font-weight:bold;line-height:14px;color:#7b9d24;text-align:center;padding-top:12px;padding-bottom:10px;">
                    fale com a gente <br/>
                    nas redes sociais
                </div>
                <a href="{{url('_home')}}">
                    <img src="{{url~'/images/icon2.jpg'}}" width="150" height="80" />
                </a>
                <div style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:10px;line-height:12px;color:#666;margin-top:8px;padding-left:8px;padding-right:12px;">
                    Mande sua sugestão, peça ajuda, queremos ouvir você!<br />
                    E claro, teremos promoções<br />  
                    exclusivas,fique atento!
                </div>
            </td>
            <td align="center" valign="top" background="{{url~'/images/bg_box.jpg'}}" style="width:199px" height="205" >
                <div style="font-family: Verdana, Geneva, sans-serif;font-size:14px;font-weight:bold;line-height:14px;color:#7b9d24;text-align:center;padding-top:12px;padding-bottom:10px;">
                    não se preocupe,  <br/>
                    o reurbano garante
                </div>
                <a href="{{url('_home')}}">
                    <img src="{{url~'/images/icon3.jpg'}}" width="150" height="80" />
                </a>
                <div style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;font-size:10px;line-height:12px;color:#666;margin-top:8px;padding-left:8px;padding-right:12px;">
                    Aqui nós garantimos que você vai receber pelo cupom que<br/> 
                    vendeu, e vai usar o cupom<br/> 
                    que comprou.
                </div>
            </td>
        </tr>
    </table>
{#<h1 style="margin:0;font-weight:bold;font-size:16px;color:#D87D08;">Obrigado por criar sua conta no {{mastop_param('system.site.name')}}!</h1><br/><br/>
<p style="margin:0;font-size:12px;">A partir de agora você pode:</p><br/><br/>
<ul style="margin:0;font-size:12px;">
<li>Vender seus cupons não usados de sites de compra coletiva.</li>
<li>Aproveitar ofertas de cupons com os maiores descontos do mercado.</li>
<li>Encontrar aquela oferta que você viu em algum site de compra coletiva, mas não chegou a tempo.</li>
</ul><br/><br/>

<p style="margin:0;">
O <a href="{{url('_home')}}">{{mastop_param('system.site.name')}}</a> é constantemente atualizado com as melhores ofertas dos maiores sites de compra coletiva da Internet. Boas compras!
</p><br/><br/>
<p style="margin:0;">
Aproveite que você já está cadastrado para:
</p><br/>
<ul style="margin:0;font-size:12px;">
    <li><a href="{{url('deal_sell_index')}}" target="_blank">Vender seus cupons de sites de compras coletivas</a></li>
    <li><a href="{{url('user_user_bank')}}" target="_blank">Cadastrar suas informações bancárias</a></li>
    <li><a href="{{url('_home')}}" target="_blank">Comprar cupons de compras coletivas</a></li>
</ul><br/><br/>

<h3>Seus Dados no {{mastop_param('system.site.name')}}:</h3>
<b>Nome: </b> {{user.name}} <br /><br />
<b>Email: </b> {{user.email}} <br /><br /><br /><br />
<span style="margin:0;font-size:11px;">
Para comentários, sugestões ou reclamações, favor contatar-nos no seguinte endereço: <a href="mailto:{{mastop_param('system.site.adminmail')}}">{{mastop_param('system.site.adminmail')}}</a> 
</span><br/><br/>

<span style="margin:0;font-size:11px; color: #999">
Enviamos-lhe este e-mail pois você criou uma conta no {{mastop_param('system.site.name')}}. Caso tenha mudado de ideia, você pode anular sua inscrição a todo o momento. Caso você não tenha feito seu cadastro, queira avisar-nos deste problema por e-mail <a href="mailto:{{mastop_param('system.site.adminmail')}}">{{mastop_param('system.site.adminmail')}}</a> para que possamos suprimir a sua conta. 
</span><br/>#}
{% endblock %}