{# E-mail notificação sobre a garantia ao comprador #}
{% extends '::mail.html.twig' %}

{% block content %}
<h1 style="margin:0;font-weight:bold;font-size:16px;color:#D87D08;">{{user.name}}, sua compra no {{mastop_param('system.site.name')}} descrita abaixo tem {{msg}} dia(s) na <a href="http://www.reurbano.com.br/pg/garantia-reurbano" tager="_new" title="Sabia mais sobre a Garantia Reurbano">garantia</a> se o cupom ainda for válido.</h1><br/><br/>
<h3>Dados da Compra:</h3>
Oferta: {{order.deal.label}} <br />
Quantidade de Cupons: {{order.quantity}}<br />
Total: {{order.getTotal(true)|money}}<br /><br />
Caso queira consultar sua compra, clique no link abaixo ou copie e cole em seu navegador:<br /><br />
<a href="{{orderLink}}" target="_blank">{{orderLink}}</a><br /><br /><br /><br />

A Garantia Reurbano é uma forma de trazer segurança à sua compra, garantindo que receberá um cupom ainda não utilizado, ou terá seu dinheiro de volta. Clique no link abaixo ou copie e cole em seu navegador para saber mais sobre nossa garantia:<br /><br />
<a href="http://www.reurbano.com.br/pg/garantia-reurbano" target="_blank">http://www.reurbano.com.br/pg/garantia-reurbano</a><br /><br /><br /><br />

<span style="margin:0;font-size:11px;">
Para comentários, sugestões ou reclamações, favor contatar-nos no seguinte endereço: <a href="mailto:{{mastop_param('system.site.adminmail')}}">{{mastop_param('system.site.adminmail')}}</a> 
</span><br/><br/>
{% endblock %}