{% extends '::backend.html.twig' %}
        
{% block content %}
    <h1>{{title|trans}}</h1>
    <div class="content box grid_12 round_all">
        <div class="info"><div class="alert alert_red"><img height="24" width="24" src="{{ asset('themes/'~mastop_theme_name()~'/admin/images/icons/large/white/speech_bubble_2.png') }}" />Você deve aprovar a solicitação de resgate após efetuar o depósito na conta do vendedor.</div></div>
        <form class="block" action="{{ path('admin_order_checkout_execute', {'id': id}) }}" method="post" {{form_enctype(form)}}>
            {{ form_widget(form) }}
                <input type="hidden" value="2" name="checkout[status]" id="checkout[status]" />
            <a class='button big red m10' onclick='javascript:history.go(-1)' href='javascript:void(0)'>{{"Voltar"|trans}}</a> <button type="submit" class="button big green m10">Aprovar Resgate</button>
        </form>
    </div>
{% endblock %}