{% extends '::backend.html.twig' %}
        
{% block title %}{{title|trans}}{% endblock %}
{% set vars = city.getId() ? {'slug': city.getSlug()} : {} %}

{% block content %}
<h1>{{title|trans}}</h1>
<ul>
<form action="{{ path('admin_core_city_form', vars) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" value="{{"Enviar"|trans}}" />
</form>
{% endblock %}