{% extends '::backend.html.twig' %}

{% block content %}
    <div class="content box grid_12 round_all">
        <table class="display datatable"> 
            <thead> 
                <tr> 
                    <th>{{ "Cidade"|trans }}</th> 
                    <th>{{ "Slug"|trans }}</th> 
                    <th class="nowrap">{{ "Especial"|trans }}</th> 
                    <th class="nowrap">{{ "Ordem"|trans }}</th> 
                    <th class="last nowrap center">{{ "Ações"|trans }}</th> 
                </tr> 
            </thead> 
            <tbody> 
{% for cidade in cidades %}
                <tr>
                    <td class="nowrap">{{ cidade.getName() }}</td>
                    <td class="nowrap">{{ cidade.getSlug() }}</td>
                    <td>{{ cidade.isSpecial() }}</td>
                    <td>{{ cidade.getOrder() }}</td>
                    <td class="center nowrap">
                        <a class="button button-set-start small white" href="{{ path('admin_core_city_form', {'slug': cidade.getSlug()}) }}"><span class="ui-silk ui-silk ui-silk-pencil">{{"Editar"|trans}}</a></span><a class="button button-set-finish small red" href="{{ path('admin_core_city_delete', {'id': cidade.getId()}) }}"><span class="ui-silk ui-silk-delete">{{"Deletar"|trans}}</span></a></td>
                </tr>
  {% else %}
                <tr><td colspan="5">{{ "Nenhuma cidade encontrada!"|trans }}</td></tr>
  {% endfor %} 
            </tbody>
        </table>
        <div class='clear'></div>
        <button onclick="window.location='{{path('admin_core_city_form')}}'" title="{{ "Inserir nova cidade"|trans }}" class="button white newItem m10"><span class="ui-silk ui-silk-add"></span> {{ "Adicionar cidade"|trans }}</button>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('themes/'~mastop_theme_name()~'/admin/js/DataTables/jquery.dataTables.js') }}"></script>
    <script type="text/javascript" src="{{ asset('themes/'~mastop_theme_name()~'/admin/js/adminica/adminica_datatables.js') }}"></script>
{% endblock %}