{% if form is defined %}
{% form_theme form ':Form:form.html.twig' %}
{% endif %}
{% set protocol = mastop_protocol() %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml" xml:lang="pt_BR" lang="pt_BR">
<head>
<!--
                                             ,d                              
                                             88                              
88,dPYba,,adPYba,   ,adPPYYba,  ,adPPYba,  MM88MMM  ,adPPYba,   8b,dPPYba,   
88P'   "88"    "8a  ""     `Y8  I8[    ""    88    a8"     "8a  88P'    "8a  
88      88      88  ,adPPPPP88   `"Y8ba,     88    8b       d8  88       d8  
88      88      88  88,    ,88  aa    ]8I    88,   "8a,   ,a8"  88b,   ,a8"  
88      88      88  `"8bbdP"Y8  `"YbbdP"'    "Y888  `"YbbdP"'   88`YbbdP"'   
                                                                88           
                                                                88           

Mastop Internet Development                          http://www.mastop.com.br

-->    
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta http-equiv="content-language" content="{% block contentLanguage "pt_BR" %}" />
<meta name="robots" content="index,follow" />
<meta name="keywords" content="{% block metaKeywords mastop_param('system.seo.keywords') %}" />
<meta name="description" content="{% block metaDescription mastop_param('system.seo.description') %}" />
<meta name="rating" content="general" />
<meta name="author" content="Mastop Internet Development" />
<meta name="copyright" content="Copyright © 2003-{{ "now"|date('Y') }}" />
<meta name="generator" content="Mastop Internet Development" />
<link href="{% block favicon asset('/favicon.ico') %}" rel="SHORTCUT ICON" />
<title>{% block title title|default(mastop_param('system.site.name'))|trans %} - {%if app.request.attributes.get('_route') == '_home'%}{{mastop_param('system.site.slogan')}}{%else%}{{mastop_param('system.site.name')}}{%endif%}</title>
{% stylesheets 'reurbano/Frontend/css/system/*.css' filter='?yui_css' output='themes/reurbano/css/packed.css' %}
<link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
{% endstylesheets %}
{% block stylesheets %}{% endblock %}
<!-- Load JQuery -->
<script type="text/javascript" src="{{protocol}}ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
<script type="text/javascript">
var facebookRedir="{{ app.session.get('_security.target_path')|default(mastop_current_url()) }}";
var facebookAppId="{{ mastop_param('user.all.faceappid') }}";
var facebookUrl="{{url("user_user_facebook")}}";
</script>
{% javascripts '@ReurbanoUserBundle/Resources/public/js/Frontend/facebookScripts.js' '@ReurbanoCoreBundle/Resources/public/js/chosen/chosen.jquery.min.js' '@ReurbanoCoreBundle/Resources/public/js/jquery.color.js' '@ReurbanoCoreBundle/Resources/public/js/jquery.pulse.js' '@ReurbanoCoreBundle/Resources/public/js/jquery.cookie.js' '@ReurbanoCoreBundle/Resources/public/js/core.js' filter='yui_js' output='static/system/js/packed.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{%if app.request.attributes.get('_route') == '_home' or  app.request.attributes.get('_route') == 'core_city_index' %}
{% javascripts '@ReurbanoCoreBundle/Resources/public/js/slidejs/slides.min.jquery.js' filter='yui_js' output='static/js/slidejs/slides.packed.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
<script type="text/javascript">
$(function(){
        $('#slides').slides({
                preload: true,
                preloadImage: '{{ asset('themes/reurbano/images/slides/loading.gif') }}',
                play: 5000,
                pause: 2500,
                hoverPause: true
        });
});
</script>
{% endjavascripts %}
{# Facebox para Promo iPad#}
    {% stylesheets '@ReurbanoCoreBundle/Resources/public/js/facebox/facebox.css' 
                    filter='?yui_css' 
                    output='static/system/css/facebox.css' %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
        <style type="text/css">
        #facebox{
        top:15px;    
        }
        #facebox .content, #facebox .close {
        background: #F4F4F4;
        }
    div.promoiPad {
	margin:auto;
	width:900px;
	font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; 
    }


    .destaque{
            background:url(http://reurbano.s3.amazonaws.com/imagens/ipad/destaque-ipad.jpg) no-repeat;
            width:900px;
            height:430px;
            padding-top: 17px;
            }

    .destaque h1 {
        width:900px;
        font-size:48px;
        font-weight:bold;
        text-align:center;
        color:#333333;
        padding-top:0;
    }

    .destaque h2 {
                    width:900px;
                    font-size:24px;
                            font-weight: normal;
                            text-align:center;
                    color:#666666;
                margin-top:-36px;
            }


    .video{
            margin-left:157px;
            margin-top:125px;
            }

    .content-left{
            width:453px;
            float:left;
            font-size:11px;

            }	


    .content-left p{
            width:410px;
            font-size:11px;
            line-height:25px; 
        color:#333333;
            padding-left:30px;
        padding-right:20px;

            }	
    .bold-txt{
            font-size:15px;

            }


    .content-right{
            width:447px;	
            height:336px;
            float:right;
            background:url(http://reurbano.s3.amazonaws.com/imagens/ipad/bg-form.jpg) no-repeat;


            }

    .form{
            margin-left:70px;
            margin-top:75px;
            font-size:10px;
            line-height:25px; 
        color: #999;

            }

    .field {
            color: #999;
            height:30px;
            width:300px;
            border: 1px solid #ccc;
            border-radius: 3px;
            margin-bottom:10px;
            padding-left:7px;


            }

    .bt{
            height:50px;
            width:319px;
            color:#FFFFFF;
            font-size:14px;
            margin-top:5px;
            background:url(http://reurbano.s3.amazonaws.com/imagens/ipad/bt-cadastre.png) no-repeat;
            border:none
    }
        </style>
    {% endstylesheets %}
    {% javascripts output='static/system/js/facebox.js' 
                '@ReurbanoCoreBundle/Resources/public/js/facebox/facebox.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}    
{# /Facebox para Promo iPad#}
{%endif%}
{% block javascriptsHead null %}
{{ mastop_param('system.script.head') }}
</head>
<body>
{# Mensagens do Sistema #}
{% if app.session.hasFlash('error') %}
<div class="alert alert_error">
    <div class="container_12">
        <div class="grid_10">
            <strong>Erro: </strong> {{ app.session.flash('error')|trans|raw }}
        </div>
        <div class="grid_2">
            <a class="closeAlert" href="#">Fechar</a>
        </div>
    </div>
</div>
{% endif %}
{% if app.session.hasFlash('ok') %}
<div class="alert alert_success">
    <div class="container_12">
        <div class="grid_10">
            {{ app.session.flash('ok')|trans|raw }}
        </div>
        <div class="grid_2">
            <a class="closeAlert" href="#">Fechar</a>
        </div>
    </div>
</div>
{% endif %}
{% if app.session.hasFlash('notice') %}
<div class="alert alert_notice">
    <div class="container_12">
        <div class="grid_10">
            <strong>Aviso: </strong> {{ app.session.flash('notice')|trans|raw }}
        </div>
        <div class="grid_2">
            <a class="closeAlert" href="#">Fechar</a>
        </div>
    </div>
</div>
{% endif %}
{# /Mensagens do Sistema #}
{%if app.request.cookies.get('hideNL') is null and is_granted('ROLE_USER') == false%}
    <div id="topNL">
        <div class="container_12">
            <div class="grid_11">
                <form id="formNL" action="{{ path('core_mailing_new') }}" method="post"><span class="arrow">&nbsp</span> <span id="labelNL">Receba o que mais vendeu em </span><div class="floatL">{{reurbano_select_city('cityNL', 'cityNL', 'chzn-select')}}</div><div class="floatL"> <input type="text" id="mailNL" name="email" placeholder="Digite seu email" /> <button type="submit" class="button gray">Enviar</button></div></form>
            </div>
            <div class="grid_1">
                <a id="closeNL" href="#">Fechar</a>
            </div>
        </div>
    </div>
{%endif%}
{# Promoção iPad 
{%if app.request.cookies.get('hideiPad') is null and is_granted('ROLE_USER') == false%}
        <script type="text/javascript">
            jQuery.facebox({ ajax: 'ipad.html' });
            $(document).bind('afterClose.facebox', function() {
                $.cookie('hideiPad', '1', {
                    expires: 1, 
                    path: '/'
                });
            });
            $(document).bind('reveal.facebox', function() {
                $('html,body').animate({
                scrollTop: $("#facebox").offset().top
                },'slow');
            });
        </script>
{%endif%}
#}
{# Main #}
<div id="main">
    
{# Header #}
<div id="hd_wrap">
    <div id="hd" class="container_12">
    {% block header %}
        <div class="grid_5">
            <div id="logo">
            <a id="logo" href="{{ path('_home') }}" title="Homepage">{{ mastop_param('system.site.name') }} - {{ mastop_param('system.site.slogan') }}</a>
            </div>
            <div id="cities">
                <span id="cityLabel">em</span> <div class="chzn-container  chzn-container-single" id="cityCombo"><a title="Selecione a cidade" class="chzn-single" href="#"><span>{{app.session.get('reurbano.user.cityName')}}</span><div><b></b></div></a></div>
            </div>
        </div>
        <div class="grid_7">
            <div id="login">
                {%if is_granted('ROLE_USER') == false%}<div class="floatR"><a href="{{url('aggregator_aggregator_index')}}" class="agregadorBtn" title="Conheça o Agregador do Reurbano">Agregador</a> <a href="{{path('user_user_twitterconect')}}" class="twLoginBtn">Logar com Twitter</a> <a href="#" class="fbLoginBtn">Logar com Facebook</a></div>{%else%}<span>Olá, <strong>{{ app.user.name|default(app.user.username) }}</strong>! <small>(não é você? <a href="{{path('_logout')}}">clique aqui</a>)</small></span> <a href="{{path('user_dashboard_index')}}" class="button small blue">Minha conta</a> <a href="{{url('aggregator_aggregator_index')}}" title="Conheça o Agregador do Reurbano"  class="button small blue">Agregador</a>{%endif%}
                
            </div>
            <div id="menuTop">
            {{mastop_menu('system-head', null, null, 0, 'list', {'id':'navTop'})}}
            </div>
            
            {% block search %}
            <div id="search">
                {% set isSearch = (app.request.query.get('q') is not null) ? app.request.query.get('q') : false %}
                    <form action="{{ path('deal_deal_search') }}" method="get" id="searchForm"><div id="searchDiv"><button type="submit" class="button primary silver">Pega!</button><input type="text" name="q" id="q" class="{%if isSearch%}focusField{%else%}idleField{%endif%}" value="{%if isSearch%}{{ isSearch }}{%endif%}" placeholder="Encontre cupons de compra coletiva"  /></div></form>
            </div>
            {% endblock search %}
        </div>
        {% block menuCity %}
        {# Lista de cidades #}
	        {% set cities = reurbano_get_cities() %}
	        <div id="listCities">
	            <a href="#" id="closeCities" title="Fechar" class="floatR button primary small orange">X</a>
	            <h2>Principais cidades</h2>
	            <ul class="highCities clearfix">
	                {% for city in cities['special'] %}
	                  <li><a title="Ofertas de {{city.getName()}}"{%if city.getSlug() == app.session.get('reurbano.user.city') %} class="selected"{%else%} href="{{ path('core_city_index', {'slug':city.getSlug()}) }}"{%endif%}>{{city.getName()}}</a></li>
	                {% endfor %}
	            </ul>
	            <br>
	            <h2>Outras cidades</h2>
	            <ul>
	                {% for city in cities['other'] %}
	                  <li><a title="Ofertas de {{city.getName()}}"{%if city.getSlug() == app.session.get('reurbano.user.city') %} class="selected"{%else%} href="{{ path('core_city_index', {'slug':city.getSlug()}) }}"{%endif%}>{{city.getName()}}</a></li>
	                {% endfor %}
	            </ul>
	   		</div>
        {# /Lista de cidades #}
        {% endblock menuCity %}
        
        {# Lista as categorias #}
        {% block menuMain %}
	        <div class="grid_10" id="menuMain">
	            {%if cat is defined %}
	            {% render 'ReurbanoDealBundle:Widget\\Category:menu' with {'selected': cat.getSlug }%}
	            {%else%}
	            {% render 'ReurbanoDealBundle:Widget\\Category:menu' with {'selected': app.request.get('slug') }%}
	            {%endif%}
	        </div>
        {% endblock menuMain %}
		{# /Lista as categorias #}
        <div class="grid_2 omega" id="sellButton">
            <a href="{{url('deal_sell_index')}}" class="button primary orange">Vender Cupom</a>
        </div>

        {%if breadcrumbs is defined%}
        <div class="grid_12" id="breadcrumbs">
            <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="{{path('_home')}}" itemprop="url">
                <span itemprop="title">Home</span>
                </a> › 
            </div>  
        {%for item in breadcrumbs%}
            <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                {%if item.url is defined%}<a href="{{item.url}}" itemprop="url">{%endif%}
                <span itemprop="title">{{item.title}}</span>
                {%if item.url is defined%}</a> {%endif%}{%if loop.last == false%} › {%endif%}
            </div>
        {%endfor%}
        </div>
        {%endif%}
        
        {%if app.request.attributes.get('_route') == '_home' or app.request.attributes.get('_route') == 'core_city_index' %}
        {# Só exibe o banner se estiver na home ou na página da cidade #}
        <div class="clear"></div>
        <div class="grid_12" id="bannerHome">
            {% render 'ReurbanoCoreBundle:Widget\\Block:banner'%}
        </div>
        {%endif%}
        <div class="clear"></div>
    {% endblock%}
    </div>
</div>
{# /Header #}
{# Body #}
{% block body %}
<div id="bd_wrap">
    <div id="bd" class="container_12">

    {# Conteúdo #}
    {% block content null %}
    {# /Conteúdo #}
    <div class="clear"></div>    
    </div>
</div>
{% endblock body %}
{# /Body #}

{# Footer #}
<div id="ft_wrap">
    <div class="clearfix"></div>
    <div id="ft" class="container_12">
        <div id="ftBelt" class="grid_5">
			<div class="grid_5 alpha omega"><a href="{{ path('_home') }}" title="Homepage">{{ mastop_param('system.site.name') }} - {{ mastop_param('system.site.slogan') }}</a></div>
			<div id="textoFooter1" class="grid_5 alpha omega">O ReUrbano é um portal que revende ofertas anunciadas nos</div>
			<div id="textoFooter2" class="grid_5 alpha omega">sites de compra coletiva e clubes de compra do país.</div>
		</div>
		<div id="ftBelt2" class="grid_7">
			{{reurbano_menu('system-foot', null, null, 0, 'footer', {'id':'navFoot'})}}
			<div id="FormasPagamento" class="grid_7 alpha omega"><a>Formas de Pagamento</a>
			</div>
		</div>
		<div class="clearfix"></div>
   </div>   
   <div id="BorderFooter" class="container_12">
        <div id="copyright" class="grid_9">
            {% block footer %} {{ mastop_param('system.site.footer') }} {% endblock%}
        </div>
        <div id="poweredBy" class="grid_3">
            <a href="http://www.mastop.com.br" title="Produzido por Mastop Internet Development">Mastop Devenvolvimento e Consultoria Web</a>
        </div>
    </div>
</div>
{# /Footer #}
</div>

{#/Main #}
{# Facebook div #}
<div id="fb-root" class="hidden"></div>
{#/Facebook div #}
{# Javascripts #}
{% block javascripts null%}
{{ mastop_param('system.script.foot') }}
{#/Javascripts #}
</body>
</html>