{% extends '::frontend.html.twig' %}
{% block javascriptsHead %}
{% endblock %}
{% block title %}{{ "Login"|trans }}{% endblock %}
{% block content %}
<div class="grid_5 prefix_1">
    <div>
        <h2>{{ "Já sou cadastrado"|trans }}</h2>
        <form action="{{ path("login_check") }}" method="post">
            <label for="umail">{{ "Email"|trans }}</label>
            <input type="text" id="umail" name="_umail" value="{{ last_username }}" />
            <br />
            <label for="password">{{ "Senha"|trans }}</label>
            <input type="password" id="password" name="_password" /><br />
            <div class="mT10 mB10">
                <button class='button blue floatL' type='submit'>{{ "Login"|trans }}</button> <label style="width:200px; float:left; margin: 6px 0 0 10px;"><input type="checkbox" id="remember_me" name="_remember_me" /><small style="float:left;"> {{ "Me manter conectado"|trans }}</small></label>
                <div class="clear"></div>
            </div>
                <a href="{{ path('user_user_recovery', {'username':last_username} ) }}" title="{{ "Troque sua senha"|trans }}" class="strong">{{ "Esqueci minha senha"|trans }}</a>
        </form>
    </div>
    <div class="grid_5 alpha omega mT10">
        <a href="{{url('user_user_twitterconect')}}" class="twLoginBtn" title="{{"Tem uma conta no Twitter? Use-a para fazer o seu login no %sitename%"|trans ({"%sitename%":mastop_param('system.site.name')}) }}">Logar com Twitter</a>
        <a href="#" id='facebook-login' class="fbLoginBtn" title="{{"Tem uma conta no Facebook? Use-a para fazer o seu login no %sitename%"|trans ({"%sitename%":mastop_param('system.site.name')}) }}">Logar com Facebook</a>
    </div>
    
</div>
<div class="grid_6">
    <div id="login_register_box">
        <h2>{{ titulo }}</h2>
        <form action="{{ path('user_user_save') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
            <div class="mT10">
                <button class='button blue' type="submit">{{ "Cadastrar"|trans }}</button>
            </div>
        </form>
    </div>
</div>
<div class="clear"></div>
{% endblock content %}  
{% block javascripts %}
<script type="text/javascript" src="{{ path('user_user_script') }}"></script>
        {% javascripts output='qualquer/coisa.js' 
                '@ReurbanoUserBundle/Resources/public/js/Frontend/newUser.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}