{% extends '::backend.html.twig' %}

{% block content %}
<div class="content box grid_12 round_all">
    <table class="display datatable"> 
        <thead> 
            <tr> 
                <th>{{ "ID"|trans }}</th> 
                <th>{{ "Título"|trans }}</th> 
                <th class="nowrap">{{ "Ordem"|trans }}</th> 
                <th class="last nowrap center">{{ "Ações"|trans }}</th> 
            </tr>  
        </thead> 
        <tbody> 

        {% for stat in status %}
            <tr>
                <td>{{ stat.getId() }} </td>
                <td> {{ stat.getName() }} </td>
                <td> {{ stat.getOrder() }}</td>
                <td class="center nowrap">
                    <a class="button button-set-start small white" href="{{ path('admin_order_status_edit', {'id': stat.getId()}) }}"><span class="ui-silk ui-silk ui-silk-pencil">{{"Editar"|trans}}</span></a><a class="button button-set-finish small red" href="{{ path('admin_order_status_delete', {'id': stat.getId()}) }}"><span class="ui-silk ui-silk-delete">{{"Deletar"|trans}}</span></a></td>
            </tr>  
        {% else %}
            <tr><td colspan="4">{{"Nenhum status encontrado"|trans}}</td></tr>
        {% endfor %} 
        </tbody> 
    </table>
    <div class='clear'></div>
    <button onclick="window.location='{{path('admin_order_status_new')}}'" title="{{ "Inserir novo status"|trans }}" class="button white newItem m10"><span class="ui-silk ui-silk-add"></span> {{ "Adicionar status"|trans }}</button>
</div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="{{ asset('themes/'~mastop_theme_name()~'/admin/js/DataTables/jquery.dataTables.js') }}"></script>
<script type="text/javascript" src="{{ asset('themes/'~mastop_theme_name()~'/admin/js/adminica/adminica_datatables.js') }}"></script>
{% endblock %}