{% extends '::frontend.html.twig' %}
{% block javascripts%}
{% javascripts output='static/system/js/sell.contact.js'
                   '@ReurbanoDealBundle/Resources/public/js/Frontend/contact.js'
                   %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock%}

{% block content %}
<div id="siteContent">
    <h1>{{title|trans}}</h1>
    <div class="content box grid_12 round_all">
        <form action="{{ path('deal_sell_contact') }}" method="post" {{ form_enctype(form) }}>
            <div class="container_12">
                <div class="grid_6">
                    {{ form_label(form.site) }}
                    {{ form_errors(form.site) }}
                    {{ form_widget(form.site) }}
                </div>
                <div class="grid_6">
                    <div>
                    <label class="chzn-select required" style="width: 200px;" for="cityId">Cidade</label>
                    {{reurbano_select_city('city', 'city', 'chzn-select', 'width:200px')}}
                    </div>
                </div>
                <div class="clear"></div>
                <div class="grid_6">
                    {{ form_label(form.url) }}
                    {{ form_errors(form.url) }}
                    {{ form_widget(form.url) }}
                </div>
                <div class="grid_6">
                    {{ form_label(form.quantity) }}
                    {{ form_errors(form.quantity) }}
                    {{ form_widget(form.quantity) }}
                </div>
                <div class="clear"></div>
                <div class="grid_6">
                    {{ form_label(form.price) }}
                    {{ form_errors(form.price) }}
                    {{ form_widget(form.price) }}
                </div>
                <div class="grid_6">
                    {{ form_label(form.obs) }}
                    {{ form_errors(form.obs) }}
                    {{ form_widget(form.obs) }}
                </div>
                <div class="clear"></div>
                <div class="grid_12" id="contactVoucher">
                    {{ form_label(form.voucher0) }}
                    {{ form_errors(form.voucher0) }}
                    {{ form_widget(form.voucher0) }}
                </div>
                <div class="clear"></div>
                <button class="button green big" type='submit' style="margin-top: 10px;"><span>{{ "Enviar"|trans }}</span></button>
            </div>
        </form>
    </div>
</div>
{% endblock %}