{% extends '::frontend.html.twig' %}

{% block title %}{{title|trans}}{% endblock %}

{% block content %}
    <form action="{{ path('deal_sell_index') }}" method="post" {{form_enctype(form)}}>
        {{ form_widget(form) }}
        
        <input type="submit" value="Comentar"/>
    </form>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ url('deal_sell_script') }}"></script>
    {% javascripts output='bundles/dealbundle/js/sell.js' 
                   '@ReurbanoDealBundle/Resources/public/js/Frontend/jquery.autocomplete.pack.js'
                   '@ReurbanoDealBundle/Resources/public/js/Frontend/sell.js'
                   %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}