{% extends '::frontend.html.twig' %}

{% block title %}{{title|trans}}{% endblock %}

{% block stylesheets %}
    {% stylesheets '@ReurbanoCoreBundle/Resources/public/js/autocomplete/jquery.autocomplete.css' filter='?yui_css' output='reurbano/dealbundle/css/pack.css' %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <form action="{{ path('deal_sell_details') }}" method="post" {{form_enctype(form)}}>
        <div>
            {{ form_label(form.site) }}
            {{ form_errors(form.site) }}
            {{ form_widget(form.site) }}
        </div>
        <div class="hidden cupom">
            {{ form_label(form.cupom) }}
            {{ form_errors(form.cupom) }}
            {{ form_widget(form.cupom) }}
        </div>
        
        {{ form_rest(form) }}
        <input type="submit" value="Enviar"/>
    </form>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ url('deal_sell_script') }}"></script>
    {% javascripts output='bundles/dealbundle/js/sell.js'
                   '@ReurbanoCoreBundle/Resources/public/js/autocomplete/jquery.autocomplete.pack.js'
                   '@ReurbanoDealBundle/Resources/public/js/Frontend/sell.js'
                   %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
