{% extends '::frontend.html.twig' %}

{% block stylesheets %}
    {% stylesheets '@ReurbanoCoreBundle/Resources/public/js/autocomplete/jquery.autocomplete.css' filter='?yui_css' output='reurbano/dealbundle/css/pack.css' %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
        <div class="content box grid_8">
        <h1>{{"Venda seu cupom de compra coletiva aqui"|trans}}</h1>
    <form action="{{ path('deal_sell_details') }}" method="post" {{form_enctype(form)}}>
        <div>
            {{ form_label(form.site) }}
            {{ form_errors(form.site) }}
            {{ form_widget(form.site, { 'empty_value': '' }) }}
        </div>
        <div class="hidden cupom">
            {{ form_label(form.cupom) }}
            {{ form_errors(form.cupom) }}
            {{ form_widget(form.cupom) }}
        </div>
        
        {{ form_rest(form) }}
        <div class='push_4'>
            <button id='sellContinue' class='button green big hidden' type="submit">{{ "Continuar"|trans }}</button>
        </div>
    </form>
        </div>
        <div class="grid_4">
{% render 'ReurbanoCoreBundle:Widget\\Block:render' with{'area': 'sell'} %}
</div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ url('deal_sell_script') }}"></script>
    {% javascripts output='bundles/dealbundle/js/sell.js'
                   '@ReurbanoCoreBundle/Resources/public/js/autocomplete/jquery.autocomplete.pack.js'
                   '@ReurbanoDealBundle/Resources/public/js/Frontend/sell.js'
                   %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
