{% extends '::frontend.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('bundles/reurbanocore/css/calendar.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block javascripts%}
{% javascripts output='static/system/js/sell.edit.js'
                   '@ReurbanoCoreBundle/Resources/public/js/dateinput/jquery.tools.min.js'
                   '@ReurbanoDealBundle/Resources/public/js/Frontend/sellEditar.js'
                   %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock%}
{% block content %}
<div id="siteContent">
    <div class="content box grid_9">
    <h1>{{"Editar sua oferta"|trans}}</h1>
    <form action="{{ path('deal_deal_edit', {'id': deal.getId} )}}" method="post" id="sellEdit" style="margin-left:20px" {{ form_enctype(form) }} >
        <img src='{{ mastop_param('deal.all.dealurl') ~ deal.source.thumb }}' alt="{{ deal.source.title }}" class="m10" />
        <h3>Titulo</h3>
        {{ deal.getSource.getTitle() }}<br />
        <h3>Site</h3>
        {{ deal.getSource.getSite.getName }} - {{ deal.getSource.getCity.getName }}<br />
        <h3>Quantidade de Cupons</h3>
        {{ deal.quantity}}<br />
        <h3>Vencimento da Oferta</h3>
        {{ deal.source.expiresAt|date("d/m/Y")}}<br />        
        <h3>Categoria da Oferta</h3>
        {{ deal.getSource.getCategory.getName }}<br /><br />
        <div>
            <div class="info floatR" style="width:315px; font-size: 0.8em; margin-top: 20px;">Nossa comissão é de {%if mastop_param('deal.all.comsellreal') > 0%}{{mastop_param('deal.all.comsellreal')|money}} + {%endif%}<strong>{{mastop_param('deal.all.comsellpercent')}}%</strong> sobre o seu valor desejado.<br />
                Leia nossos <a href="{{url('core_content_index', {'slug': 'termos-e-condicoes'})}}" target="_blank">Termos e Condições</a> para mais informações.
            </div>
            {{ form_row(form.price) }}
        </div>
        <div>
            {{ form_row(form.obs) }}
        </div>
        {{ form_row(form._token) }}
        {{ form_row(form.id) }}
        <input type="hidden" value="{{ deal.getSource.getId }}" name="deal[sourceId]"/>
        <div class="clear"></div>
        <div class="mT10 mB10">
         <button class='button green big push_2' type="submit">{{ "Editar Oferta"|trans }}</button> <a class='button big red floatL' onclick='javascript:history.go(-1); return false;' href='javascript:void(0)'>{{"Voltar"|trans}}</a>
        </div>
    </form>
</div>
</div>
{% endblock %}