{% extends '::frontend.html.twig' %}

{% block javascripts%}
{% javascripts output='bundles/dealbundle/js/sell.pack.js'
                   '@ReurbanoCoreBundle/Resources/public/js/autocomplete/jquery.autocomplete.pack.js'
                   '@ReurbanoDealBundle/Resources/public/js/Frontend/sell.js'
                   '@ReurbanoDealBundle/Resources/public/js/Frontend/sellEditar.js'
                   %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock%}
{% block content %}
    <div class="content box grid_8">
    <h1>{{"Editar sua oferta"|trans}}</h1>
    <form action="{{ path('deal_deal_edit', {'id': deal.getId} )}}" method="post" id="sellDetails" {{ form_enctype(form) }} >
        <b>Titulo</b><br />
        {{ deal.getSource.getTitle() }}<br />
        <b>Site</b><br />
        {{ deal.getSource.getSite.getName }}<br />
        {{ form_row(form.quantity) }}
        {{ form_row(form.price) }}
        <div id="sellVoucher" class="mT10 mB10">
            {{ form_row(form.voucher0) }}
        </div>
        {{ form_rest(form) }}
        <input type="hidden" value="{{ deal.getSource.getId }}" name="deal[sourceId]"/>
         <button class='button green big push_3' type="submit">{{ "Enviar Oferta"|trans }}</button>
    </form>
</div>
{% endblock %}