{% extends '::frontend.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('bundles/reurbanocore/css/calendar.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block javascripts%}
{% javascripts output='static/system/js/sell.edit.js'
                   '@ReurbanoCoreBundle/Resources/public/js/dateinput/jquery.tools.min.js'
                   '@ReurbanoDealBundle/Resources/public/js/Frontend/sellEditar.js'
                   %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock%}
{% block content %}
    <div class="content box grid_8">
    <h1>{{"Editar sua oferta"|trans}}</h1>
    <form action="{{ path('deal_deal_edit', {'id': deal.getId} )}}" method="post" id="sellEdit" style="margin-left:20px" {{ form_enctype(form) }} >
        <img src='{{ mastop_param('deal.all.dealurl') ~ deal.source.thumb }}' alt="{{ deal.source.title }}" class="m10" />
        <h3>Titulo</h3>
        {{ deal.getSource.getTitle() }}<br />
        <h3>Site</h3>
        {{ deal.getSource.getSite.getName }} - {{ deal.getSource.getCity.getName }}<br />
        <h3>Quantidade de Cupons</h3>
        {{ deal.quantity}}<br />
        <div id="dealSource" class="mT10">
                {{ form_widget(form.source) }}
        </div>
        {{ form_row(form.price) }}
        {{ form_rest(form) }}
        <input type="hidden" value="{{ deal.getSource.getId }}" name="deal[sourceId]"/>
        <div class="clear"></div>
        <div class="mT10 mB10">
         <button class='button green big push_2' type="submit">{{ "Editar Oferta"|trans }}</button> <a class='button big red floatL' onclick='javascript:history.go(-1)' href='javascript:void(0)'>{{"Voltar"|trans}}</a>
        </div>
    </form>
</div>
{% endblock %}