{% extends '::frontend.html.twig' %}

{% block title %}Listagem de Ofertas{% endblock %}

{% block content %}
<div class="container_12">
    <div id="dealInformation" class="grid_12">
        <h1>{{title|trans}}</h1>
    </div>
    <div id="dealInformation" class="grid_9">
    {% for deal in ofertas %}
        <div class="dealList">
            <div class="grid_3" style="margin-left: 0px; height: 160px;">
                <div class="imgDeal">
                    <!-- Deal Image -->
                    <span>
                        IMAGEM DA OFERTA!
                    </span>
                </div>
            </div>
            <div class="grid_4">
                <div class="infoDeal">
                    <span class="dealCategory">{{ deal.getSource().getCategory().getName() }}</span><br />
                    <a href="{{ path( 'deal_deal_show', {'category' : deal.getSource().getCategory().getSlug() ,'oferta': deal.getSlug() } ) }}">{{ deal.getSource().getTitle() }}</a><br />
                    <span class="dealAddress" style="font-size: 12px;">{{ deal.getSource().getBusinessAddress() }}</span><br />
                    <span class="dealExtra">
                        <span class="dealExpires">{{ deal.getSource().getExpiresAt()|date("d/m/Y")  }}</span>
                        <span class="dealQuantity">Disponiveis: {{ deal.getQuantity() }}</span>
                    </span>
                </div>
            </div>
            <div class="grid_2" style="margin-right: 0px;">
                <div class="priceDeal">
                    <span class="dealPriceNormal">De R${{ deal.getSource().getPrice() }}</span><br />
                    <span class="dealPriceDesc">Por </span>R$<span class="dealPrice">{{ deal.getPrice() }}</span><br />
                    <a href="{{ path( 'deal_deal_show', {'category' : deal.getSource().getCategory().getSlug() ,'oferta': deal.getSlug() } ) }}" class="dealListaDetail">Ver Oferta</a>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    {% else %}
        {{"Nenhuma oferta encontrada"|trans}}
    {% endfor %} 
    </div>
    <div id="dealInformation" class="grid_3">
        <div class="reurbanoMidia" style="text-align: center;">
                Reurbano na mídia
        </div> 
        <div class="relationDeal" style="border: 1px solid #CCCCCC; padding: 15px; margin: 5px;">
            <div class="relationDealImage" style="text-align: center; padding: 5px; border: 1px solid black; height: 130px;">
                Imagem DEAL RELACIONADO
            </div>
            <div class="relationDealInformation" style="margin: 10px 0px 0px 0px;">
                Informação DEAL RELACIONADO
            </div>
        </div>
            <div class="relationDeal" style="border: 1px solid #CCCCCC; padding: 15px; margin: 5px;">
            <div class="relationDealImage" style="text-align: center; padding: 5px; border: 1px solid black; height: 130px;">
                Imagem DEAL RELACIONADO
            </div>
            <div class="relationDealInformation" style="margin: 10px 0px 0px 0px;">
                Informação DEAL RELACIONADO
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
{% endblock %} 