{% extends '::frontend.html.twig' %}
{%set dealLink = url('deal_deal_show', {'city': city, 'category': cat.getSlug, 'slug': deal.getSlug}) %}
{% block metaKeywords keywords %}
{% block metaDescription  title~" - De: "~deal.getSource.getPrice|money~" por apenas "~deal.getPrice|money~" com "~deal.getDiscount~" OFF!" %}
{% block javascriptsHead %}
    {# AppId e AppAdmins pode-se colocar na parte de "scripts" das preferências #}
    <meta property="og:title" content="{{title}}" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="De: {{deal.getSource.getPrice|money}} por apenas {{deal.getPrice|money}} com {{deal.getDiscount}}% OFF!" />
    <meta property="og:url" content="{{dealLink}}" />
    <meta property="og:image" content="{{asset(deal.getSource.getThumb)}}" />
{% endblock %}

{% block content %}
<div class="grid_8">
    {# Título e Share #}
    <h1 class="grid_8" id="dealTitle">{{title}}</h1>
    <div class="grid_8" id="dealShare">
        <fb:like href="{{dealLink}}" send="true" layout="button_count" width="55" show_faces="false" action="like" font="lucida grande"></fb:like>
        <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="ReurbanoBrasil">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
        <g:plusone size="medium"></g:plusone>
        <!-- Place this tag after the last plusone tag -->
        <script type="text/javascript">
          window.___gcfg = {lang: 'pt-BR'};

          (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
        </script>
    </div>
    <div class="grid_5 alpha">
        {# Foto #}
        <div id="dealThumb">
            <img src="{{asset(deal.getSource.getFilename)}}" alt="{{deal.getLabel}}" /> <span class="discount {{deal.getDiscountType }}">{{deal.getDiscount}}% OFF</span></a>
        </div>
    </div>
    <div class="grid_3 omega">
        {# Preços #}
        <div id="dealPrices" class="{{deal.getDiscountType }}">
            <div class="priceSource">De: <strong>{{deal.getSource.getPrice|money}}</strong></div>
            <div class="price">Por: <strong>{{deal.getPrice|money}}</strong></div>
            {%if deal.getQuantity > 0%}
            <div class="buyNow"><a rel="nofollow" class="button big {{deal.getDiscountType }} primary" href="{{path('order_order_index', {'id': deal.getId})}}">Comprar</a></div>
            {%else%}
            <div class="buyNow"><a rel="nofollow" class="button big gray primary disable" href="#" style="cursor:default;">Vendido</a></div>
            {%endif%}
        </div>
        <div id="dealInfos">
            {# Quantidade #}
            <div class="dealQtd">
            {% transchoice deal.getQuantity with {'%count%' : deal.getQuantity} %}
                    {0} Oferta vendida|{1} <strong>1</strong> cupom disponível|]1,Inf] <strong>%count%</strong> cupons disponíveis
            {% endtranschoice %}
            </div>
            {# Validade #}
            <div class="dealExpire">
            Use o cupom até <strong>{{deal.getSource.getExpiresAt|date('d/m/Y')}}</strong>
            </div>
            {# Link da Oferta #}
            <div class="dealSite">
                <a rel="nofollow" href="{{deal.getSource.getUrl}}" target="_blank" title="Veja a página da oferta no {{deal.getSource.getSite.getName}}"><img src="{{asset('/uploads/reurbanodeal/site/'~deal.getSource.getSite.getFilename)}}" alt="Página da Oferta no {{deal.getSource.getSite.getName}}" /></a>
            </div>
        </div>
    </div>
    <div class="grid_5 alpha mT10">
        <div id="dealDetails">
            <h2>Informações</h2>
        {{deal.getSource.getDetails|raw}}
        {%if deal.getSource.getBusinessAddress != ''%}
            <p><img src="http://maps.google.com/maps/api/staticmap?center={{deal.getSource.getBusinessAddress}}&zoom=16&markers=color:orange|label:R|{{deal.getSource.getBusinessAddress}}&size=380x260&sensor=false" /></p>
        {%endif%}
        </div>
    </div>
    <div class="grid_3 omega mT10">
        <div id="dealRules">
            <h2>Regras</h2>
            <ul>
            {%for rule in rules%}
                {%if rule != ''%}<li>{{rule}}</li>{%endif%}
            {%endfor%}
            </ul>
            <h2>Empresa</h2>
            <p>{{deal.getSource.getBusinessName}}</p>
            {%if deal.getSource.getBusinessUrl != ''%}
            <p><a href="{{deal.getSource.getBusinessUrl}}" rel="nofollow" target="_blank">{{deal.getSource.getBusinessUrl}}</a></p>
            {%endif%}
        </div>
    </div>
    <div class="grid_8 alpha omega" id="dealComments">
    <fb:comments href="{{dealLink}}" num_posts="10" width="620"></fb:comments>
    </div>
    {%if is_granted('ROLE_ADMIN') %}
    <div class="clear"></div>
    <div class="info m10"><a href="{{path('admin_deal_deal_edit', {'id': deal.getId})}}" class="button green" title="Editar {{deal.getLabel}}">Editar</a></div>
    {%endif%}
</div>
<div class="grid_4">
{% render 'ReurbanoCoreBundle:Widget\\Block:render' with{'area': 'deal', 'opts': {'cat': cat, 'id': deal.getId}} %}
</div>
{% endblock %}
