{% extends '::backend.html.twig' %}
        
{% block title %}{{title|trans}}{% endblock %}


{% block content %}
<h1>{{title|trans}}</h1>
<ul>
  {% for key in site|keys %}
    <li>{{ key }}</li>
  {% endfor %}
</ul>
{% for site in site %}
    {{ site.getId() }} - {{ site.getName() }} - <a href="{{ path('admin_deal_site_edit', {'id': site.getId()}) }}">{{"Editar"|trans}}</a> - <a href="{{ path('admin_deal_site_delete', {'id': site.getId()}) }}">{{"Deletar"|trans}}</a><br />
  {% else %}
    {{"Nenhum site encontrado"|trans}}
{% endfor %} 
{% endblock %}