{% extends '::frontend.html.twig' %}
{% block content %}
<div class="grid_6">
    <h1>{{ title }}</h1>
    <form action="{{ path('user_user_banksave') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
        <div class="mT10">
            <button class='button blue' type='submit'>{{ "Salvar"|trans }}</button> <a class='button red' onclick='javascript:history.go(-1); return false;' href='javascript:void(0)'>{{"Voltar"|trans}}</a>
        </div>
    </form>
</div>
{% endblock content %}  