{% extends '::frontend.html.twig' %}
{% block content %}
<div class="grid_6">
    <h1>{{ "Edição do usuário %name%"|trans({'%name%':usuario.getName()}) }}</h1>
    <form action="{{ path('user_user_save') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
{% if id is defined %}
        <input type='hidden' name='Userform[id]' value='{{id}}'>
{% endif%}
        <div class="grid_2 push_2">
            <button class='button green' type='submit'>{{ "Alterar"|trans }}</button>
        </div>
    </form>
</div>
{% endblock content %}  