{% extends '::frontend.html.twig' %}
{% block content %}
<h1>{{ "Edição do usuário %name%"|trans({'%name%':nome}) }}</h1>
        <form action="{{ path('_salvar_user') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
{% if id is defined %}
            <input type='hidden' name='Userform[id]' value='{{id}}'>
{% endif%}
            <input type="submit" name='salvar' value='{{ "Salvar"|trans }}' />
            <input type="button" name='voltar' value='{{ "Voltar"|trans }}' onclick="history.go(-1)" />
        </form>
{% endblock content %}  