{% autoescape false %}
<span id="{{ twitterDIV}}"></span>
<span id="{{ twitterDIV}}2"></span>
<script type="text/javascript">
    twttr.anywhere(function (T) {
        var currentUser, name, twitter, image, id;
        if (T.isConnected()) {
            currentUser = T.currentUser;
            $('#{{ twitterDIV}}').append("<button type='button' onclick='twttr.anywhere.signOut();'>Logout do Twitter</button>");
        } else {
            T("#{{ twitterDIV}}").connectButton({
                authComplete: function(user) {
                    var twitter = user['screenName'];
                    var id = user['id'];
                    var location = user['location'];
                    var name = user['name'];
                    var screenName = user['screenName'];
                    var image = user['profileImageUrl'];
                   // console.log("user",user);
                    //ajax para averiguar se já é user ou new
                    $.post("{{ url("user_user_twitter_ajax") }}",{ id:id },
                        function(data){
                            if( (data.success==true) && (data.existe==true)){
                                //ajax para logar o twitter ja existente
                                $.post("{{ url("user_user_twitter_logar") }}",
                                    function (data3){
                                        if(data3.success==true){
                                            window.location.href=data3.url;
                                        }else{
                                            alert(data3.msg);
                                        }
                                    },
                                    "json");
                            }else if( (data.success==true) && (data.existe==false)){
                                var email= prompt("{{ "Qual seu email?"|trans }}");
                                //novo ajax para salvar o user
                                $.post("{{ url("user_user_twitter_novo") }}",{ email:email, twitter:twitter, id:id, name:name, image:image, screenName:screenName, location:location },
                                    function (data2){
                                        if(data2.success==true){
                                            window.location.href=data2.url;
                                        }else{
                                            alert(data2.msg);
                                            twttr.anywhere.signOut();
                                        }
                                    },
                                    "json");
                            }else{
                               alert("{{ "Erro de comunicação com o Twitter e o sistema."|trans }}");
                            }
                        },
                    "json");
                },
                signOut: function() {
                    twttr.anywhere.signOut();
                }
            });
            $('#{{ twitterDIV}}2').append("{{ twitterTXT }}");
        };
    });
</script>
{% endautoescape %}