{% autoescape false %}
<span id="{{ twitterDIV}}"></span>
<span id="{{ twitterDIV}}2"></span>
<script type="text/javascript">
    twttr.anywhere(function (T) {
        T.hovercards();
        var currentUser, name, twitter, image, id;
        if (T.isConnected()) {
            currentUser = T.currentUser;
            $('#{{ twitterDIV}}').append("<button type='button' onclick='twttr.anywhere.signOut();'>Logout do Twitter</button>");
        } else {
            T("#{{ twitterDIV}}").connectButton({
                authComplete: function(user) {
                    twitter = user['screenName'];
                    id = user['id'];
                    name = user['name'];
                    image = user['profileImageUrl'];
                    //ajax para averiguar se já é user ou new
                    $.post("{{ url("user_user_twitter_ajax") }}",{ id:id },
                        function(data){
                            if( (data.success==true) && (data.existe==true)){
                                alert("Já existe");
                            }else if( (data.success==true) && (data.existe==false)){
                                alert("Não existe");
                            }else{
                               alert("Erro AJAX");
                            }
                        },
                    "json");

                    
                    
                },
                signOut: function() {
                    twttr.anywhere.signOut();
                }
            });
            $('#{{ twitterDIV}}2').append("{{ twitterTXT }}");
        };
    });
</script>
{% endautoescape %}