{% extends '::backend.html.twig' %}
{% block content %}
<div class="content box grid_12 round_all" style="padding:0">
{%if ofertas is not empty%}
    <table class="display datatable"> 
        <thead> 
            <tr> 
                <th>{{ "Imagem"|trans }}</th> 
                <th>{{ "Oferta"|trans }}</th> 
                <th>{{ "Usuário"|trans }}</th> 
                <th class="nowrap">{{ "Qtde"|trans }}</th> 
                <th class="center nowrap">{{ "Valor"|trans }}</th> 
                <th class="center">{{ "Cat."|trans }}</th> 
                <th class="center">{{ "Cidade"|trans }}</th> 
                <th class="center">{{ "Data"|trans }}</th> 
                <th class="center">{{ "Aprovar"|trans }}</th> 
                <th class="last nowrap center">{{ "Ações"|trans }}</th> 
            </tr> 
        </thead> 
        <tbody> 
            {% for deal in ofertas %}
            <tr>
                <td class='center'>
                    <a target="_blank" href="{{ path( 'deal_deal_show', {'city': deal.getSource().getCity().getSlug(),'category':deal.getSource().getCategory().getSlug(),'slug':deal.getSlug() } ) }}">
                        <img width="80" height="60" src="{{ mastop_param('deal.all.dealurl') ~ deal.source.thumb }}" title="{{ deal.getSource().getTitle() }}" alt="{{ deal.getSource().getTitle() }}" />
                    </a>
                </td>
                <td>{{ deal.getLabel(50) }}</td>
                <td>{{ deal.getUser().getName() }}</td>
                <td>{{ deal.getQuantity() }}</td>
                <td class='nowrap'>{{ deal.getPrice()|money }}</td>
                <td>{{ deal.getSource().getCategory().getName() }}</td>
                <td>{{  deal.getSource().getCity().getName() }}</td>
                <td>{{ deal.getCreatedAt()|date('d/m/y') }}</td>
                <td class="center">
                    <button onclick="window.location='{{path('admin_deal_deal_set_checked', {'id': deal.id})}}'" title="{{ "Aprovar"|trans }}" class="button white small"><span class="ui-silk ui-silk-accept"></span></button>
                </td>
                <td class="center nowrap">
                    <a target="_blank" class="button button-set-start small white" href="{{ path( 'deal_deal_show', {'city': deal.getSource().getCity().getSlug(),'category':deal.getSource().getCategory().getSlug(),'slug':deal.getSlug() } ) }}"><span class="ui-silk ui-silk ui-silk-eye">{{ "Visualizar"|trans }}</span></a><a class="button button-set small white" href="{{ path( 'admin_deal_deal_edit', {'id': deal.getId() } ) }}"><span class="ui-silk ui-silk ui-silk-pencil">{{ "Editar"|trans }}</span></a><a class="button button-set-finish small red" href="{{ path( 'admin_deal_deal_delete', {'id': deal.getId() } ) }}"><span class="ui-silk ui-silk-delete">{{ "Deletar"|trans }}</span></a>
                </td>
            </tr>
            {% endfor %}
            </tbody> 
    </table>
  {% else %}
            <div class="info"><div class="alert alert_red"><img height="24" width="24" src="{{ asset('themes/'~mastop_theme_name()~'/admin/images/icons/large/white/speech_bubble_2.png') }}" />Nenhuma Oferta Pendente de Aprovação</div></div>
{% endif %} 
</div>
{% endblock %} 
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('themes/'~mastop_theme_name()~'/admin/js/DataTables/jquery.dataTables.js') }}"></script>
    <script type="text/javascript" src="{{ asset('themes/'~mastop_theme_name()~'/admin/js/adminica/adminica_datatables.js') }}"></script>
{% endblock %}