{% extends '::backend.html.twig' %}

{% block javascripts %}
<script type="text/javascript" src="{{ path('admin_deal_script') }}"></script>

    {% javascripts output='static/admin/js/deal.js' 
        '@ReurbanoDealBundle/Resources/public/js/Backend/deal.js'
        '@ReurbanoDealBundle/Resources/public/js/Backend/jquery.price_format.1.3.js'
         %}
<script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% set vars = deal.getId() ? {'id': deal.getId()} : {} %}

{% block content %}
<div class="content box grid_12 round_all">
    <div class="block">
        <h1>{{"Edição de Oferta"|trans }}</h1>
        <h2>{{"Site: %site%"|trans({"%site%":deal.getsource.getSite.getName()}) }}</h2>
        <h3>{{ deal.getLabel() }}</h3>
        <h3>{{"Usuário: %user%"|trans({"%user%":deal.getUser.getName()}) }}</h3>
        <h3>{{"Visualizações: %views%"|trans({"%views%":deal.getViews()}) }}</h3>
        <form action="{{ path('admin_deal_deal_save', vars) }}" method="post" enctype="multipart/form-data">

            {{ form_errors(form.id) }}
            {{ form_widget(form.id) }}

            {{ form_label(form.label) }}
            {{ form_errors(form.label) }}
            {{ form_widget(form.label) }}
            
            <input type='hidden' name='deal[source]' value='{{deal.getSource.getId()}}' />
            

            {{ form_label(form.price) }}
            {{ form_errors(form.price) }}
            {{ form_widget(form.price) }}
            
             <div id="dealSource" class="mT10">
                {{ form_row(form.source.category) }}
       			 </div>
       			 
       			 <div id="dealSource" class="mT10">
                {{ form_row(form.source.site) }}
       			 </div>

						{{ form_label(form.source.price) }}
						{{ form_errors(form.source.price) }}
						{{ form_widget(form.source.price) }}
						
						{{ form_label(form.source.priceOffer) }}
						{{ form_errors(form.source.priceOffer) }}
						{{ form_widget(form.source.priceOffer) }}
            
            {% if deal.id %}
                <span style="font-weight: 700;" >Quantidade disponivel: </span><br />
                {{ deal.quantity }}<br /><br />
            {% else %}
                {{ form_label(form.quantity) }}
                {{ form_errors(form.quantity) }}
                {{ form_widget(form.quantity) }}
            {% endif %}
            
            <div>
                <label class="datepicker required" for="deal_expiresAt">Validade</label>
                <input id="deal_expiresAt" class="datepicker" type="text" name="deal[expiresAt]" value="{{ deal.source.expiresAt | date('d/m/Y')  }}"/>
            </div>
                
            {{ form_row(form.obs) }}
            
            <label style="width: 100%;">SEO da Oferta</label>
            <textarea id="deal_tags" name="deal[tags]" style="width: 100%;">{% for tags in deal.tags %}{{ tags }} {%endfor%}</textarea>
             
            {{ form_label(form.active) }}
            {{ form_errors(form.active) }}
            {{ form_widget(form.active) }}

            {{ form_label(form.special) }}
            {{ form_errors(form.special) }}
            {{ form_widget(form.special) }}

            {{ form_label(form.checked) }}
            {{ form_errors(form.checked) }}
            {{ form_widget(form.checked) }}
            
            <div class="comission">
                {{ form_row(form.comission) }}
            </div>
            <div class='clear'></div>
            {{ form_widget(form._token) }}

                <div class="subTitulo">Vouchers</div>
                {% for vou in voucher %}
                    <div style="margin: 7px;">
                        <a class="button big green" href="/uploads/reurbanodeal/voucher/{{ vou.fileName }}" target="_blank">
                            <span>{{"Voucher"|trans}} {{ loop.index }}</span>
                        </a>
                        <input id="deal_voucher{{ loop.index - 1 }}" type="file" value="" name="deal[voucher-{{ vou.fileName }}]">
                    </div>
                {% endfor %}
            <br />
            <button class="button green" type='submit'><span>{{ "Enviar"|trans }}</span></button>
            <button class='button red ' onclick='javascript:history.go(-1); return false;'>{{"Voltar"|trans}}</button>
        </form>
    </div>
</div>
{% endblock %}