{% extends '::backend.html.twig' %}
        
{% block title %}{{title|trans}}{% endblock %}


{% block content %}
<h1>{{title|trans}}</h1>
{% for deal in ofertas %}
    {{ deal.getId() }} - 
    {{ deal.getLabel() }} - 
    {{ deal.getPrice() }} - 
    {{ deal.getQuantity() }} - 
    {{ deal.getSpecial() }} -
    {{ deal.getSource().getCity().getName() }} -
    | <a href="{{ path( 'admin_deal_deal_edit', {'id': deal.getId() } ) }}">Editar</a> 
    | <a href="{{ path( 'admin_deal_deal_delete', {'id': deal.getId() } ) }}">Deletar</a>
    | <br />
  {% else %}
   {{"Nenhuma oferta encontrada"|trans}}
  {% endfor %} 
{% endblock %} 