{%if banner is defined%}
<div id="bannerSlides">
    <img src="{{ asset('themes/'~mastop_theme_name()~'/images/slides/new-ribbon.png') }}" width="112" height="112" alt="Novo!" id="ribbon">
    <div id="slides">
            <div class="slides_container">
                {% for banner in banner %}
                    {%if banner.getDeal is not null%}
                    {%set dealLink = url('deal_deal_show', {'city': banner.getDeal.getSource.getCity.getSlug, 'category': banner.getDeal.getSource.getCategory.getSlug, 'slug': banner.getDeal.getSlug}) %}
                    <div class="slide bannerDeal" onclick="document.location.href = '{{dealLink}}';return">
                        <div class="dealThumb">
                        <img src="{{asset(mastop_param('deal.all.dealurl') ~ banner.deal.source.filename)}}" alt="{{banner.getDeal.getLabel}}" /> <span class="discount {{banner.getDeal.getDiscountType }}">{{banner.getDeal.getDiscount}}% OFF</span>
                        </div>
                            <h2 class="{{banner.getDeal.getDiscountType }}">{{banner.getDeal.getLabel}}</h2>
                        <div class="dealInfos {{banner.getDeal.getDiscountType }}">
                            <div class="priceSource">De: <strong>{{banner.getDeal.getSource.getPrice|money}}</strong></div>
                            <div class="price">Por: <strong>{{banner.getDeal.getPrice|money}}</strong></div>
                            <div class="buyNow"><a rel="nofollow" class="button primary pill big {{banner.getDeal.getDiscountType }}" href="{{dealLink}}">Confira esta Oferta</a></div>
                            <div class="dealQtd">
                               {% transchoice banner.getDeal.getQuantity with {'%count%' : banner.getDeal.getQuantity} %}
                                    {0} Oferta vendida|{1} 1 cupom disponível|]1,Inf] %count% cupons disponíveis
                               {% endtranschoice %}
                            </div> 

                        </div>
                    </div>
                    {%else%}
                    <div class="slide"><a href="{{ banner.getUrl() }}" title="{{ banner.getTitle() }}" {%if banner.getNewWindow%}target="_blank"{%endif%}><img src="{{ asset("/uploads/reurbanocore/banner/" ~ banner.getFilename()) }}" alt="{{ banner.getTitle() }}"/></a></div>
                    {%endif%}
                {% endfor %}
            </div>
            <a href="#" class="prev"><img src="{{ asset('themes/'~mastop_theme_name()~'/images/slides/arrow-prev.png') }}" width="19" height="21" alt="Arrow Prev"></a>
            <a href="#" class="next"><img src="{{ asset('themes/'~mastop_theme_name()~'/images/slides/arrow-next.png') }}" width="19" height="21" alt="Arrow Next"></a>
    </div>
</div>
{%endif%}