{%if banner is defined%}
<div id="bannerSlides">
    <div id="slides">
            <div class="slides_container">
                {% for banner in banner %}
                    {%if banner.getDeal is not null%}
                    {%set dealLink = url('deal_deal_show', {'city': banner.getDeal.getSource.getCity.getSlug, 'category': banner.getDeal.getSource.getCategory.getSlug, 'slug': banner.getDeal.getSlug}) %}
                    <div class="slide bannerDeal" onclick="document.location.href = '{{dealLink}}';return">
                        <div class="dealThumb">
                        <img src="{{asset(mastop_param('deal.all.dealurl') ~ banner.deal.source.filename)}}" alt="{{banner.getDeal.getLabel}}" />
                        </div>
                        <div class="dealInfos">
                            <h2>{{banner.deal.label}}</h2>
                            <div class="dealInfosMain">
                                <div class="dealPrices">
                                    {#Preços#}
                                    <div class="priceSource">De: <strong>{{banner.deal.source.price|money}}</strong></div>
                                    <div class="price">Por: <strong>{{banner.deal.price|money}}</strong></div>
                                </div>
                                    {#Site#}
                                <div class="dealSite">
                                    <img src="{{asset('/uploads/reurbanodeal/site/'~banner.deal.source.site.filename)}}" alt="Oferta do {{banner.deal.source.site.name}}" />
                                </div>
                            </div>
                            <div class="dealBuy">
                                {#Comprar#}
                                <div class="buyNow"><a rel="nofollow" class="button big green buyButton" href="{{path('order_order_index', {'id': banner.deal.id})}}">COMPRAR</a></div>
                                <div class="dealDetails"><a href="{{dealLink}}" title="Veja {{banner.deal.label}}">detalhes da oferta</a></div>
                            </div>
                            <div class="clear"></div>
                            <div class="dealFoot">
                                    <span class="moneyIcon">Economize: <strong>{{banner.deal.discount}}%</strong></span>
                                    <span class="couponIcon">
                                    {% transchoice banner.deal.quantity with {'%count%' : banner.deal.quantity} %}
                                        {0} Oferta vendida|{1} <strong>1</strong> cupom|]1,Inf] <strong>%count%</strong> cupons
                                    {% endtranschoice %}
                                    </span>
                                    <span class="dateIcon">Validade: <strong>{{banner.deal.source.expiresAt|date('d/m/Y')}}</strong></span>
                            </div>
                        </div>
                    </div>
                    {%else%}
                    <div class="slide"><a href="{{ banner.getUrl() }}" title="{{ banner.getTitle() }}" {%if banner.getNewWindow%}target="_blank"{%endif%}><img src="{{ asset("/uploads/reurbanocore/banner/" ~ banner.getFilename()) }}" alt="{{ banner.getTitle() }}"/></a></div>
                    {%endif%}
                {% endfor %}
            </div>
</div>
{%endif%}