{% extends '::backend.html.twig' %}
        
{% block title %}{{title|trans}}{% endblock %}
{% set vars = cat.getId() ? {'id': cat.getId()} : {} %}

{% block content %}
<h1>{{title|trans}}</h1>
<ul>
<form action="{{ path('admin_deal_category_save', vars) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" value="{{"Enviar"|trans}}" />
</form>
{% endblock %}