{% extends '::backend.html.twig' %}
        
{% block title %}{{title|trans}}{% endblock %}


{% block content %}
<h1>{{title|trans}}</h1>
<ul>
  {% for key in categorias|keys %}
    <li>{{ key }}</li>
  {% endfor %}
</ul>
{% for cat in categorias %}
    {{ cat.getId() }} - {{ cat.getName() }} - {{ cat.getOrder() }} - <a href="{{ path('admin_deal_category_edit', {'id': cat.getId()}) }}">{{"Editar"|trans}}</a> - <a href="{{ path('admin_deal_category_pre_delete', {'id': cat.getId()}) }}">{{"Deletar"|trans}}</a><br />
  {% else %}
   {{"Nenhuma categoria encontrada"|trans}}
  {% endfor %} 
{% endblock %}