{% extends '::frontend.html.twig' %}
{% block content %}
<h1>{% trans %}user.user.editarNovo.list{% endtrans %}</h1>
        <table width="100%" border="1" cellpadding="2" cellspacing="0">
            <tr><th><b>{% trans %}_NOME{% endtrans %}</b></th><th><b>{% trans %}_LOGIN{% endtrans %}</b></th><th><b>{% trans %}_EMAIL{% endtrans %}</b></th><th><b>{% trans %}_STATUS{% endtrans %}</b></th><th><b>{% trans %}_CRIADO{% endtrans %}</b></th><th><b>{% trans %}_ACOES{% endtrans %}</b></th></tr>
        {% if (usuarios) %}
        {% for user in usuarios %}
             <tr><td>{{user.nome}}</td><td>{{user.uname}}</td><td>{{user.email}}</td><td>{{user.status}}</td><td>{{user.createdAt}}</td><td><a href="{{ url('_editar_user', {'id': user.id}) }}">{% trans %}_EDITAR{% endtrans %}</a> - <a href="{{ url('_deletar_user', {'id': user.id}) }}">{% trans %}_DELETAR{% endtrans %}</a></td></td></tr>
        {% endfor %}
             {% else %}
             <tr><td colspan='6'>{% trans %}_404{% endtrans %}</td></tr>
             {% endif %}
         </table>
        <a href="{{ url('_novo_user') }}">{% trans %}_NOVO{% endtrans %}</a>
{% endblock content %}  