{% extends '::backend.html.twig' %}
{% block content %}
<h1>{{ "Listagem de Usuários"|trans }}</h1>
        <table width="100%" border="1" cellpadding="2" cellspacing="0">
            <tr><th><b>{{ "Nome"|trans }}</b></th><th><b>{{ "Login"|trans }}</b></th><th><b>{{ "Email"|trans }}</b></th><th><b>{{ "Status"|trans }}</b></th><th><b>{{ "Criado"|trans }}</b></th><th><b>{{ "Ações"|trans }}</b></th></tr>
        {% if (usuarios) %}
        {% for user in usuarios %}
             <tr><td>{{ user.getName() }}</td><td>{{ user.getUsername() }}</td><td>{{ user.getEmail() }}</td><td>{{ user.getStatus(true) }}</td><td>{{ user.getCreated() }}</td><td><a title="{{ "Editar o usuário"|trans }}" href="{{ url('_editar_user', {'id': user.id}) }}">{{ "Editar"|trans }}</a> - <a title="{{ "Excluir o usuário"|trans }}" href="{{ url('_deletar_user', {'id': user.id}) }}">{{ "Deletar"|trans }}</a></td></td></tr>
        {% endfor %}
             {% else %}
             <tr><td colspan='6'>{{ "Nenhum usuário encontrado."|trans }}</td></tr>
             {% endif %}
         </table>
        <a title="{{ "Inserir novo usuário"|trans }}" href="{{ url('admin_user_user_novo') }}">{{ "Adicionar usuário"|trans }}</a>
{% endblock content %}  