<div class="grid_12">
    <h1>{{ title }}</h1>
    <div class="info">
        <span class="info">Nome:</span> {{ user.name }}<br />
    </div>
    <div class="info">
        <span class="info">E-mail:</span> {{ user.email }}<br />
    </div>
    <div class="info">
        <span class="info">Cidade:</span> {{ user.email }}<br />
    </div>
    {% if user.bankData %}
        <div class="info">
            <span class="info">Banco:</span> {{ user.bankData.name }}<br />
        </div>
        <div class="info">
            <span class="info">Agência:</span> {{ user.bankData.agency }}<br />
        </div>
        <div class="info">
            <span class="info">Conta:</span> {{ user.bankData.account }}<br />
        </div>
        <div class="info">
            {% if user.bankData.type == 1 %}
                <span class="info">Tipo:</span> Conta Corrente<br />
            {% else %}
                <span class="info">Tipo:</span> Poupança<br />
            {% endif %}
        </div>
        <div class="info">
            <span class="info">Observações:</span> {{ user.bankData.obs }}<br />
        </div>
    {% endif %}
</div>
