{%set dealLink = path('deal_deal_show', {'city': deal.getSource.getCity.getSlug, 'category': deal.getSource.getCategory.getSlug, 'slug': deal.getSlug}) %}
<div class="deal {{deal.getDiscountType }}">
{#Imagem#}
<div class="dealThumb">
<a href="{{dealLink}}" title="Compre {{deal.getLabel}}"><img src="{{asset(deal.getSource.getThumb)}}" alt="{{deal.getLabel}}" /> <span class="discount {{deal.getDiscountType }}">{{deal.getDiscount}}% OFF</span></a>
</div>
{#Título#}
<div class="dealTitle">
{#Conteúdo#}
        <a href="{{dealLink}}" title="Compre {{deal.getLabel}}"><strong>{{deal.getSource.getSite.getName}}:</strong> {{deal.getLabel}}</a>
</div>
<div class="clear"></div>       
{#Preços#}
<div class="dp50 mT5">
    <div class="priceSource">De: <strong>{{deal.getSource.getPrice|money}}</strong></div>
    <div class="price">Por: <strong>{{deal.getPrice|money}}</strong></div>
</div>
<div class="dp50 mT10">
     <div class="dealQtd">
        {% transchoice deal.getQuantity with {'%count%' : deal.getQuantity} %}
        {0} Oferta vendida|{1} 1 cupom disponível|]1,Inf] %count% cupons disponíveis
        {% endtranschoice %}
    </div> 
    <div class="buyNow"><a rel="nofollow" class="button {{deal.getDiscountType }} pill" href="{{path('order_order_index', {'id': deal.getId})}}">Comprar</a></div>
</div>
<div class="clear"></div>
{%if deal.getSource.getBusinessAddress is not null%}
{#Endereço#}
<div class="dealAddress">
    {{deal.getSource.getBusinessAddress}}
</div>        
{%endif%}
</div>