{% extends '::backend.html.twig' %}
        
{% block content %}
    <h1>{{title|trans}}</h1>
    <div class="content box grid_12 round_all">
        <form class="block" action="{{ path('admin_order_refund_execute', {'id': id}) }}" method="post" {{form_enctype(form)}}>
            {{ form_widget(form) }}
            <div>
                <label for="cancel_cancelOrder"><input type="checkbox" value="1" name="refund[cancelOrder]" id="cancel_cancelOrder" style="opacity: 0;" checked="checked"> Cancelar a venda e reativar a oferta</label>
            </div>
                <input type="hidden" value="2" name="refund[status]" id="refund[status]" />
            <a class='button big red m10' onclick='javascript:history.go(-1); return false;' href='javascript:void(0)'>{{"Voltar"|trans}}</a> <button type="submit" class="button big green m10">Aprovar Reembolso</button>
        </form>
    </div>
{% endblock %}