<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt_BR" lang="pt_BR">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta http-equiv="content-language" content="{% block contentLanguage %}pt_BR{% endblock %}" />
<meta name="robots" content="index,follow" />
<meta name="keywords" content="{% block metaKeywords %}praticus{% endblock %}" />
<meta name="description" content="{% block metaDescription %}Praticus é o melhor sistema de loas virtuais do Brasil{% endblock %}" />
<meta name="rating" content="general" />
<meta name="author" content="Mastop Internet Development" />
<meta name="copyright" content="Copyright © 2003-{{ "now"|date('Y') }}" />
<meta name="generator" content="Mastop Internet Development" />

<!-- iPhone, iPad and Android specific settings -->	
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1;">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
                
<link href="{% block favicon %}favicon.ico{% endblock %}" rel="SHORTCUT ICON" />

<title>{% block title %}Página sem Título{% endblock %} - NomeDoSite</title>


<!-- Create an icon and splash screen for iPhone and iPad -->
<link rel="apple-touch-icon" href="/themes/mastop/admin/images/iOS_icon.png">
<link rel="apple-touch-startup-image" href="/themes/mastop/admin/images/iOS_startup.png">
    

{% stylesheets 'mastop/Backend/css/all.css' 'mastop/Backend/css/layout_fixed.css' 'mastop/Backend/css/header_top.css' 'mastop/Backend/css/mastop.css' filter='yui_css' output='themes/mastop/admin/css/pack.css' %}
<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
{% endstylesheets %}

{% stylesheets 'mastop/Backend/css/theme/theme_blue.css' 'mastop/Backend/css/theme/bg_dark_wood.css' filter='yui_css' output='themes/mastop/admin/css/theme/pack.css' %}
<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
{% endstylesheets %}

{#
<!-- These stylesheets are used  -->
<link rel="stylesheet" type="text/css" href="/themes/mastop/admin/css/theme/switcher.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/themes/mastop/admin/css/theme/switcher1.php?default=layout_fixed.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/themes/mastop/admin/css/theme/switcher2.php?default=header_top.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/themes/mastop/admin/css/theme/switcher3.php?default=theme_blue.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/themes/mastop/admin/css/theme/switcher4.php?default=bg_punched.css" media="screen" />
#}
<!--[if IE 6]><link rel="stylesheet" type="text/css" href="/themes/mastop/admin/css/ie6.css" media="screen" /><![endif]-->
<!--[if IE 7]><link rel="stylesheet" type="text/css" href="/themes/mastop/admin/css/ie.css" media="screen" /><![endif]-->
			
<!-- Load JQuery -->		
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>

<!-- Load JQuery UI -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
		
<!-- Load Interface Plugins -->
<script type="text/javascript" src="/themes/mastop/admin/js/uniform/jquery.uniform.js"></script>

<script type="text/javascript" src="/themes/mastop/admin/js/iPhone/jquery.iphoneui.js"></script>
<script type="text/javascript" src="/themes/mastop/admin/js/uitotop/js/jquery.ui.totop.js"></script>

<!-- This file configures the various jQuery plugins for Adminica. Contains links to help pages for each plugin. -->
<script type="text/javascript" src="/themes/mastop/admin/js/adminica/adminica_ui.js"></script>


{% block stylesheets %}{% endblock %}
{% block javascriptsHead %}{% endblock %}
</head>
<body>
{# Main #}
<div id="wrapper">

{# Topbar #}
<div id="topbar" class="clearfix container_12">
	
	<a href="dashboard_sorter.php" class="logo grid_4"><span>Adminica</span></a>
	<div id="search_bar" class="grid_5">
	<form>
		<input class="indent round_all" type="text" name="busca" value="" />
		<div class="place_search">
			<button class="button_colour round_all">
                                <span></span>
				<img src="/themes/mastop/admin/images/icons/small/white/magnifying_glass.png" width="24" height="24" alt="Magnifying Glass">
				<span>Busca</span>
			</button>
		</div>
	</form>
        </div>
	<div class="user_box round_all grid_3">
		<img src="/themes/mastop/admin/images/profile.jpg" width="55" alt="Profile Pic" />
		<h2>Administrator</h2>
		<h3><a class="text_shadow" href="#">John Smith</a></h3>
		<ul>
			<li><a href="#">profile</a><span class="divider">|</span></li>
			<li><a href="#">settings</a><span class="divider">|</span></li>
			<li><a href="login.php">logout</a></li>
		</ul>
	</div><!-- #user_box -->	
</div><!-- #topbar -->
{# /Topbar #}

{# MainContainer #}
<div id="main_container" class="main_container container_12 clearfix">
{# Mensagens do Sistema #}
{% if app.session.hasFlash('error') %}
<div class="alert alert_red">
    <img height="24" width="24" src="/themes/mastop/admin/images/icons/small/white/Alert.png" />
    <strong>Erro: </strong> {{ app.session.flash('error')|raw }}
</div>
{% endif %}
{% if app.session.hasFlash('ok') %}
<div class="alert alert_green">
    <img height="24" width="24" src="/themes/mastop/admin/images/icons/small/white/Finish%20Flag.png" />
    {{ app.session.flash('ok')|raw }}
</div>
{% endif %}
{% if app.session.hasFlash('notice') %}
<div class="alert alert_grey">
    <img height="24" width="24" src="/themes/mastop/admin/images/icons/small/white/Speech%20Bubble%202.png" />
    <strong>Aviso: </strong> {{ app.session.flash('notice')|raw }}
</div>
{% endif %}
{# /Mensagens do Sistema #}

{# Navigation #}
<div id="nav_top" class="clearfix round_top">
	<ul class="clearfix round_all">
		<li class="current"><a href="dashboard_sorter.php"><img src="/themes/mastop/admin/images/icons/small/white/laptop.png"/>Dashboard</a></li>
	
		<li><a href="#"><img src="/themes/mastop/admin/images/icons/small/grey/frames.png"/>Layout</a>
			<ul class="dropdown">
				<li><a href="layout.php">16 Grid - 960.gs</a></li>
				<li><a href="text.php">Text & Typography</a></li>
				<li><a class="has_slide" href="#">Layout Width</a>
					<ul class="slideout">						
						<li><a href="/themes/mastop/admin/css/theme/switcher1.php?style=../layout_fixed.css">Fixed</a></li>
						<li><a href="/themes/mastop/admin/css/theme/switcher1.php?style=switcher.css">Fluid</a></li>
					</ul>
				</li>
				<li><a class="has_slide" href="#">Layout Position</a>
					<ul class="slideout">
						<li><a href="/themes/mastop/admin/css/theme/switcher2.php?style=switcher.css">Side</a></li>
						<li><a href="/themes/mastop/admin/css/theme/switcher2.php?style=../layout_top.css">Top</a></li>
					</ul>
				</li>
			</ul>
		</li>
		<li><a href="#"><img src="/themes/mastop/admin/images/icons/small/grey/coverflow.png"/>Boxes</a>
			<ul class="dropdown">
				<li><a class="has_slide" href="#">Tab Boxes</a>
					<ul class="slideout">
						<li><a href="/themes/mastop/admin/tabs.php">Horizontal Tabs</a></li>
						<li><a href="/themes/mastop/admin/tabs.php">Vertical Tabs</a></li>
					</ul>
				</li>
					<li><a href="/themes/mastop/admin/accordions.php">Accordions Boxes</a></li>
					<li><a href="/themes/mastop/admin/wizard.php">Step by Step Wizard</a></li>
				<li><a href="/themes/mastop/admin/code.php">Code View</a></li>
			</ul>
		</li>	
		<li><a href="#"><img src="/themes/mastop/admin/images/icons/small/grey/create_write.png"/>Forms</a>
			<ul class="dropdown">
				<li><a href="forms.php">Input & Validation</a></li>
				<li><a class="has_slide" href="#">Date</a>
					<ul class="slideout">
						<li><a href="forms.php">Date Field</a></li>
						<li><a href="forms.php">Inline Picker</a></li>
					</ul>
				</li>
				<li><a class="has_slide" href="#">Sliders</a>
					<ul class="slideout">
						<li><a href="forms.php">Horizontal Slider</a></li>
						<li><a href="forms.php">Vertical Slider</a></li>
						<li><a href="forms.php">Range Slider</a></li>
						<li><a href="forms.php">Progress Bar</a></li>
					</ul>
				</li>
				<li><a href="buttons.php">Buttons</a></li>
				<li><a href="editor.php">WYSIWYG Editor</a></li>
			</ul>
		</li>		
		<li><a href="#"><img src="/themes/mastop/admin/images/icons/small/grey/images.png"/>Gallery</a>
			<ul class="dropdown">
				<li><a href="gallery.php">Fancybox Gallery</a></li>
				<li><a href="gallery_sortable.php">Sortable Gallery</a></li>
			</ul>
		</li>			
		<li><a href="#"><img src="/themes/mastop/admin/images/icons/small/grey/blocks_images.png"/>Tables</a>
			<ul class="dropdown dropdown_left">
				<li><a href="tables.php">DataTables</a></li>
				<li><a href="tables_static.php">Regular Tables</a></li>
			</ul>			
		</li>
		<li><a href="#"><img src="/themes/mastop/admin/images/icons/small/grey/plane_suitcase.png"/>Organize</a>
			<ul class="dropdown dropdown_left">
				<li><a href="files.php"><img src="/themes/mastop/admin/images/icons/small/grey/folder.png"/>Files</a></li>
				<li><a href="contacts.php"><img src="/themes/mastop/admin/images/icons/small/grey/users.png"/>Contacts</a></li>
			</ul>
		</li>
		<li><a href="calendar.php"><img src="/themes/mastop/admin/images/icons/small/grey/month_calendar.png"/>Calendar</a></li>
		<li><a href="charts.php"><img src="/themes/mastop/admin/images/icons/small/grey/graph.png"/>Charts</a></li>
		<li><a href="login.php"><img src="/themes/mastop/admin/images/icons/small/grey/locked_2.png"/>Login</a></li>
	</ul>	
</div><!-- #nav_top -->
{# /Navigation #}
{# Breadcrumb #}
<ul id="breadcrumb" class="grad_colour">
    <li><a href="#">Home</a></li>
    <li><a href="#">Fernando</a></li>
    <li><a href="#">Santos</a></li>
    <li><span>Teste</span></li>
</ul><!-- #breadcrumb -->
{# /Breadcrumb #}
{# Conteúdo #}
{% block content %}
{% endblock content %}
{# /Conteúdo #}

</div>
{# /MainContainer #}
{# Footer #}
<div id="ft" class="container_12">{% block footer %}<span id="copyright">© 2011 <a href="http://www.mastop.com.br" target="_blank">Mastop Internet Development</a> - Alguns Direitos Reservados</span>{% endblock%}</div>
{# /Footer #}
</div>
{#/Main #}
    
{# Javascripts #}
{% block javascripts %}{% endblock %}
{#/Javascripts #}
<div id="loading_overlay">
    <div class="loading_message round_bottom">Aguarde ...</div>
</div>
</body>
</html>